[2019-08-16 06:10] xcaptain opened #5 "Roadmap for casbin-rs@1.0.0"
Todo list for the v1.0 release

- [x] Optimize `model.rs`, add more tests @GopherJ #8
- [x] Optimize `rbac.rs`, implement `get_roles` and `get_users` method @xcaptain  #7 #9
- [x] Setup travis and codecov @hsluoyz
- [x] Check whether domain can have a length more than 2 strings. This affects if we should define domain as `Option<&str>` or `Vec<&str>` @hsluoyz
- [x] Implement RBAC apis for enforcer

[2019-08-16 06:18] GopherJ commented on #5
:thumbsup: @xcaptain

[2019-08-16 10:12] XanthusL commented on #5
From my perspective, we can use a builder or enum for it.

[2019-08-17 03:44] xcaptain opened #7 "Role inheritance problem in rbac.rs"
The current implementation of role inheritance has a big problem, it can handle direct link between 2 roles but can't handle indirect links like user -> role -> role.

[code]

the print result is:

[code]

When using `has_link` to check link between `u1` and `g3`, we will iterate over roles in `u1` that is `g1`, but this `g1` has no related roles, while in fact in role manager, `g1` has a related

[2019-08-17 12:03] DevinR528 commented on #7
Here is a link to another [playground](https://play.rust-lang.org/?version=stable&mode=debug&edition=2018&gist=4ddbfd5c2e40462ac24768b2f8a5c338). if that doesn't help message me and I can actually clone this repo and work on it for a bit if you want me to. Good luck :+1:!!

[2019-08-17 16:04] xcaptain commented on #7
@DevinR528 Thank you man, contributions for this project are welcomed. can you help review this commit? https://github.com/casbin/casbin-rs/pull/9

[2019-08-18 11:32] #7 closed

[2019-08-19 03:07] xcaptain opened #15 "Should we stick with rust clippy"
Clippy is a static analysis tool, Recently I tested this project using `cargo clippy` and found a lot of errors and warnings.

![图片](https://user-images.githubusercontent.com/4054836/63236719-6d28e380-c271-11e9-93c8-4e3cec37e395.png)

We have already setup `cargo fmt` in travis-ci, should we fix `cargo clippy` errors before committing?

Setup clippy with `travis-ci` is easy, https://github.com/rus

[2019-08-19 03:25] xcaptain commented on #15
@GopherJ Do you think we should stick with clippy or do you have interest to do this task?

[2019-08-19 03:48] GopherJ commented on #15
@xcaptain we should stick and I'll handle it

[2019-08-19 06:56] #15 closed

[2019-11-19 16:58] kyle-mccarthy opened #23 "Relation to Devolutions/casbin-rs?"
Hi, is there any relation between this project and https://github.com/Devolutions/casbin-rs?

On the [casbin homepage](https://casbin.org/en/), it links to the other repo, but the [overview page](https://casbin.org/docs/en/overview) links to this repo. The goland and node repo's for casbin also link to the other repo.

[2019-11-21 03:05] hsluoyz commented on #23
Thanks for the report. casbin-rs fixed in: https://github.com/casbin/casbin-website/commit/869c28cb3df2942d7bf3a8aef25e0f8b121a8ba2

Can you point me out where is `The goland and node repo's for casbin also link to the other repo.`?

[2019-11-24 06:03] hsluoyz commented on #23
Closed as stale.

[2019-11-24 06:03] #23 closed

[2019-11-24 06:48] kyle-mccarthy commented on #23
Sorry for the delay. It’s in the readme. https://github.com/casbin/casbin/blob/master/README.md#all-the-languages-supported-by-casbin

I noticed it is in the java one as well so it may be in all the packages under the supported language section.

[2019-11-24 07:14] hsluoyz commented on #23
Can you make a PR to fix them?

[2019-12-06 15:42] awakecoding opened #24 "Proper error handling (eliminate unwrap calls)"
We (Devolutions) are looking at switching to the new casbin-rs project, leaving our initial port of casbin to Rust from a year ago behind in favour of this one. Overall, the new project looks good, but our primary concern is the lack of proper error handling.

A quick search in the code base reveals there are 92 unwrap() calls. Some of them are benign in nature, like unwrap calls in unit tests, bu

[2019-12-06 16:04] hsluoyz commented on #24
@xcaptain @GopherJ

[2019-12-08 16:49] xcaptain commented on #24
@awakecoding Sorry for the late reply. You are right, the current error handling is still very simple, only a `CasbinError`, would be great if we have a finer error handling (I was too lazy when doing https://github.com/casbin/casbin-rs/pull/19). I believe this project hasn't been widely used (maybe only I and GopherJ), It would be awesome if you can help, PRs are welcomed, Thanks.

[2019-12-14 11:11] malte-v opened #25 "Is this usable?"
In the main repo, it says this project is "work in progress" and the crate is also not published. Does this mean it isn't usable at this point in time? If so, can you give an ETA on how long it will take? It looks like there hasn't been much activity in here lately... Thanks!

[2019-12-19 18:21] andrewbanchich commented on #25
I'm also wondering this @xcaptain

[2019-12-20 04:53] xcaptain commented on #25
@andrewbanchich @malte-v This project is still under development, I don't use it in my daily work anymore so recent development is slow. It's ok to use it in a single-threaded scene, but not in the multi-threaded scene because we heavily use `Rc` and `RefCell`, these pointers are not shareable between threads.

Anyway, contributions are welcomed, I think with only a small amount of work, this proj

[2019-12-21 15:35] xcaptain commented on #25
@andrewbanchich I added multi-thread support for casbin at https://github.com/casbin/casbin-rs/pull/26 and I added a simple demo at https://github.com/xcaptain/voyager.rs/blob/master/examples/json.rs casbin now works in a multi thread/future based web server.

@GopherJ has an attempt to add diesel adapter for casbin at https://github.com/casbin/casbin-rs/pull/18 but didn't get merged, do you have

[2019-12-23 11:06] hsluoyz opened #27 "Add "Installation" and "Get started" in README."
https://github.com/casbin/casbin-rs

@xcaptain @GopherJ  It's still PHP code. Can you help rewrite these two sections in Rust?

[2019-12-23 13:51] xcaptain commented on #27
I will do this tonight

[2019-12-23 15:26] xcaptain opened #29 "Refactor API structure"
Currently, our APIs are separated in different modules, like:

[code]

which are not convinent to use, should be exported from crate root like:

[code]

[2019-12-23 15:28] xcaptain opened #30 "Rename the package name"
Currently, we use `casbin-rs` as the package name in `Cargo.toml`, would be better to use `casbin` directly. Also the name `casbin` is available, see: https://crates.io/search?q=casbin

[2019-12-23 15:35] xcaptain opened #31 "Consider default implement some APIs for Enforcer"
Currently, we wrapped APIs in 3 traits: `RbacApi`, `MgmtApi` and `InternalApi`, When user want some APIs they need to manually import the corresponding trait where `enforcer` was created, it's not very convenient to use. We can consider using ether ways below

1. Remove the 3 traits and directly implement these APIs to `Enforcer`
2. Default implement these traits for `Enforcer` at `lib.rs`

[2019-12-23 15:37] xcaptain opened #32 "Add a new from file api for model"
Currently, we use `load_model` to load model definitions from a config file, which is not convenient to use (2 lines), should consider adding a new from file API so we can create a model in 1 line.

[2019-12-23 15:39] hsluoyz commented on #30
@xcaptain of course we should use `casbin` directly. For each language's package manager, we usually use `casbin` name, like npmjs, etc. The differentiation like `node-casbin`, `casbin-rs` is mainly for GitHub repo names.

[2019-12-23 16:34] xcaptain commented on #31
After some searching, the second-way: default implement traits for `Enforcer` may not work, we can consider using a

[code]

so the enforcer owns all the public APIs.

[2019-12-23 17:29] xcaptain opened #33 "Use github actions to auto generate rust doc"
We can use github actions to generate rust doc and then push to an `gh-pages` branch, so we can have a doc site.

We can learn from https://github.com/rust-analyzer/rust-analyzer/blob/master/.github/workflows/rustdoc.yaml and https://github.com/peaceiris/actions-gh-pages#1-add-ssh-deploy-key

Using this way we need to generate a ssh key pair for github actions so it can commit to this repository.

[2019-12-24 04:31] hsluoyz commented on #33
What about using a repo like: https://github.com/casbin-rs/docs?

[2019-12-24 04:42] hsluoyz commented on #30
Can we release it?

[2019-12-24 04:58] xcaptain commented on #30
I will release as soon as possible. please take a look at https://github.com/casbin/casbin-rs/pull/28

[2019-12-24 05:53] #27 closed

[2019-12-24 06:37] xcaptain commented on #32
Added at #28

[2019-12-24 06:37] #32 closed

[2019-12-24 06:38] xcaptain commented on #30
Changed at #28  and the 0.1.0 version just published https://crates.io/crates/casbin

[2019-12-24 06:38] #30 closed

[2019-12-24 06:38] xcaptain commented on #29
Done at #28

[2019-12-24 06:38] #29 closed

[2019-12-24 06:40] xcaptain commented on #25
A 0.1.0 version has just been released at https://crates.io/crates/casbin hope more rust people can use this library to do authorization

[2019-12-24 07:06] #25 closed

[2019-12-29 11:50] hsluoyz opened #35 "Diesel adapter is calling for contribution!"
Does anyone have time to do this?

[2020-01-10 03:25] GopherJ commented on #35
@hsluoyz  I think this can be closed now because I added already a simple version of `diesel-adapter`

[2020-01-10 04:26] hsluoyz commented on #35
Sure :)

[2020-01-10 04:26] #35 closed

[2020-01-10 04:34] hsluoyz commented on #5
@GopherJ @xcaptain , do you know anyone that can be Casbin's MOSS champion? He/she should be **an established member of the Mozilla community who knows/uses Casbin**.

See `What a Mozilla champion does` section in: https://www.mozilla.org/en-US/moss/foundational-technology/

[2020-01-10 05:27] hsluoyz commented on #24
@GopherJ is this issue resolved?

[2020-01-10 13:35] GopherJ commented on #5
@hsluoyz sorry, currently no for me.

[2020-01-13 03:39] GopherJ opened #43 "Missing async support (async-std + async adapter)"
casbin and diesel-adapter are synchronous, but it's worth adding async support to casbin and create a new async adapter.

https://github.com/async-rs/async-std
https://github.com/launchbadge/sqlx

The new adapter can be called `sqlx-adapter`, it's not ORM, but it's full asynchronous.

[2020-01-13 05:27] hsluoyz commented on #43
lgtm!

[2020-01-21 02:12] GopherJ opened #45 "Missing cache support"
casbin doesn't have cache support, but it'll be good to have it, especially for realtime applications.

[2020-01-21 02:18] GopherJ opened #46 "Missing watcher support (with a proper lock)"
A general case in casbin is to share the same policy storage with several enforcers, once an CRUD operation has been made through one of the enforcers. The others need to `pull` these changes immediately from policy storage.

And during the execution of the `pull` operation, enforcer needs to be locked. No more enforce can be made util the finish of `pull`.

Also it'll be good if we can pull only

[2020-01-22 01:55] GopherJ commented on #24
@hsluoyz Yes, it has been resolved and sorry for the late reply.

[2020-01-22 02:19] #24 closed

[2020-01-22 11:46] #31 closed

[2020-02-04 06:41] GopherJ commented on #46
This has been implemented in #50 but requires more improvements.

1. load_policy() can be heavy, casbin shouldn't do any `enforcing` before finishing the call
2. shall we use incremental method, emitter emit the change of policy(Add, Remove etc)

[2020-02-04 06:42] GopherJ commented on #46
Redis Watcher is not implemented

[2020-02-04 06:44] GopherJ opened #51 "Missing logger support"
A proper logger is missing util now with the following features:

1. show the request (sub, obj, action) etc
2. show the enforce result
3. show if it's cached result (by adding a prefix [CACHE])

[2020-02-04 06:48] GopherJ commented on #45
I'll close this because it's implemented in #50, a `CachedEnforcer` has been added with the following features:

1. TTL
2. Max cached items
3. Clear cache while changing policies

[2020-02-04 06:48] #45 closed

[2020-02-08 18:04] GopherJ commented on #43
async-std has been added to casbin-rs through #53

[2020-02-09 12:06] hsluoyz opened #54 "Add crates badge that linked to: https://crates.io/crates/casbin"

[2020-02-09 12:20] GopherJ commented on #43
sqlx is not very mature at this point, I'll add a `sqlx-adapter` later. Now we stick to https://github.com/casbin-rs/diesel-adapter

[2020-02-10 07:24] GopherJ commented on #43
actix-web uses `tokio` as runtime, it's important to keep the `async-std` runtime and to add another feature called `runtime-tokio`. So that casbin-rs can works asynchronously in actix-web.

[2020-02-10 07:29] GopherJ commented on #5
There are still many works to do. If any one wants to pick one of them:

https://github.com/casbin-rs

We are already not far from casbin-rs@1.0

[2020-02-10 10:06] GopherJ commented on #46
https://github.com/casbin/node-casbin/issues/114

[2020-02-12 07:21] GopherJ opened #55 "Database transactions similar api `addPolicies`, `removePolicies`"
See https://github.com/casbin/node-casbin/issues/105

[2020-02-15 20:03] PsiACE commented on #51
Interested in dealing with this, in fact, I was initially attracted to summerofcode2020.

[2020-02-16 02:18] hsluoyz commented on #51
Hi @PsiACE , thanks for being interesting in Casbin's GSoC! After Google announced the org list, we will see how to proceed with our students on this program. But now you are free for general open-source contribution.

[2020-02-16 03:00] PsiACE commented on #51
I'm trying to work on some efforts from now on. Do you have a more specific idea? This seems to be largely a matter of the format of the recorded information.

[2020-02-16 03:31] hsluoyz commented on #51
First we can see how Golang's Casbin handles logs: https://casbin.org/docs/en/log-error

But I hope we can extract out a Logger interface, which only consume on metadata like (timestamp, aciton, data, attributes) and can change logging formats.

We should use also the most popular Rust way for logs. So Casbin-RS users can use the same logging mechanism for Casbin-RS and the other components in the

[2020-02-16 03:46] PsiACE commented on #51
Thanks for your reply, I will try it.

[2020-02-16 04:17] #54 closed

[2020-02-16 06:32] GopherJ commented on #51
Hello @PsiACE, thanks for your be interested in contributions, here what's import for the rust version, maybe you have read it.

**Logger system using env_logger**

 - Design Logger trait and implement the default logger which implements Logger trait.
 - Logger can show if the enforcing result is cached or not by the prefix [Cache].
 - Logger support levels (info, debug, error...). Logs can be fil

[2020-02-16 06:47] #33 closed

[2020-02-16 06:48] GopherJ commented on #33
#57

[2020-02-16 06:48] hsluoyz commented on #33
The docs has been put to: https://casbin.org/casbin-rs/casbin/

[2020-02-16 06:49] GopherJ opened #58 "Automatically publish package to crate.io when a new git tag is created"

[2020-02-17 11:01] GopherJ commented on #55
see #59

More unit tests need to be added around this, I'll add them when I got time. There are also many work regarding `diesel-adapter`.

It must be able to do transaction.

[2020-02-23 14:37] PsiACE commented on #51
@GopherJ

Recently, I made some simple surveys. It seems that what we need to add is a middleware-like recording method? If this is the case, I would suggest a reference to some web frameworks and only provide log content in a specific format rather than limiting the overall logging approach.

The advantage of such an easy-to-see is that users can use their own recording system and avoid conflicts

[2020-02-23 14:49] PsiACE commented on #51
Actually, I think the important dependency we need is just the **log** crate.

If we do need a logger, not just a middleware, please remind me. This allows other designs to be performed before designing the internal recording method.

[2020-02-23 14:58] GopherJ commented on #51
@PsiACE Yes you are right I think that we only need log crate.  We don't need a middleware like logger.  The logger is specific for multiple reasons:

1. help user to debug and find security attack
2. help developers to debug

To achieve this we need to be able to filter logs using specific log level like Info or Debug.

Log crate is good enough to achieve this, env_logger should be used by users.

[2020-02-23 15:12] PsiACE commented on #51
I'm glad we have a consensus, but it is worth pointing out that we may indeed need a middleware to assist in this, so that some potentially useful information can be recorded automatically.

[2020-02-24 06:41] GopherJ commented on #51
@PsiACE Hello, do you have some lines of code to show how does it look like?

I'm not so sure about the benefits of middleware-like logger.

[2020-02-24 07:33] PsiACE commented on #51
This is my personal superficial knowledge.

Obviously, middleware-like loggers work internally, providing only the messages to be logged. Just like:
- https://github.com/http-rs/tide/blob/master/src/middleware/logger.rs
- https://github.com/seanmonstar/warp/blob/master/src/filters/log.rs

The general logger is selected by the user and work externally to provide more content.
- https://github.com/s

[2020-02-24 08:48] GopherJ commented on #51
@PsiACE Ok I finally understood what you would like to have, if I understand correctly you want something like this:

[code]
right?

[2020-02-24 09:03] PsiACE commented on #51
You're right. Specifically, I think this may be the way we enable logging.

In fact, we still need `env_logger::init();`. This allows the log messages to be output correctly.

[2020-02-24 09:10] GopherJ commented on #51
Ok I think this is pretty good option, the important thing of this proposal to have a `DefaultLogger` out of box so that users can use without coding their own.

[2020-02-24 18:10] andrewbanchich commented on #5
@hsluoyz Just FYI, Rust was originally incubated by Mozilla but it then was taken over as it's only community-driven project. There are still some ties it has to Mozilla, but it isn't really something I would say is developed by Mozilla.

[2020-02-24 19:06] omid commented on #5
Isn't the "Create a postgresql adapter" finished [here](https://github.com/casbin-rs/diesel-adapter)?

[2020-02-25 17:02] PsiACE commented on #58
Please check #62 , I have verified it on my personal project.

[2020-02-26 05:56] drholmie commented on #55
Hey there! I'm interested in this issue and wanted to know if I can help out with the unit tests.

[2020-02-26 07:26] GopherJ commented on #55
@drholmie Hello, thanks for being interested in this. It's important to have these methods, could you help test the following methods:

[code]

Currently we haven't make diesel-adapter supports this, ideally we should have `diesel-adapter` supports this by using transaction.

[2020-02-26 07:29] #58 closed

[2020-03-01 02:44] hsluoyz opened #63 "Add an example to Actix web examples repo"
We should add a Casbin example to: https://github.com/actix/examples

And list Casbin into their README.

[2020-03-01 02:45] hsluoyz commented on #63
@GopherJ @PsiACE

[2020-03-01 02:49] hsluoyz commented on #63
Someone on actix-web's Gitter is requesting this feature: https://gitter.im/actix/actix-web

![image](https://user-images.githubusercontent.com/3787410/75618505-3c275500-5baa-11ea-9455-591017b5f422.png)

[2020-03-01 05:09] PsiACE commented on #63
I just completed a simple example, you can check in a moment.

[2020-03-01 05:33] PsiACE commented on #63
@hsluoyz

Please check https://github.com/PsiACE/actix-casbin-example first.
If everything is OK, we can add it to actix-example or elsewhere.

[2020-03-01 06:05] hsluoyz commented on #63
@GopherJ

[2020-03-01 18:40] GopherJ commented on #63
Looks good to me, we can add different examples to show different features. Now we just start from: https://github.com/PsiACE/actix-casbin-example

Thanks for it.

[2020-03-01 18:50] 0x8f701 opened #64 "Start to make examples"
It'll help the developpers a lot if we can add more examples like what actix-web has done: https://github.com/actix/examples

Currently we don't have enough docs. I hope me or anyone else can find time to add them.

But at the same time we can already start to prepare some examples like:

1. actix-web + casbin example with fileadapter
2. actix-web + casbin example with diesel-adapter
3. actix-web

[2020-03-02 02:03] hsluoyz commented on #63
Please make PR to: https://github.com/actix/examples

[2020-03-02 08:19] PsiACE commented on #63
See https://github.com/actix/examples/pull/264, I just opened this pr.

[2020-03-02 10:28] GopherJ commented on #55
diesel-adapter now has also:

[code]

See https://github.com/casbin-rs/diesel-adapter/pull/15

[2020-03-02 10:31] hsluoyz commented on #55
Closed as resolved.

[2020-03-02 10:31] #55 closed

[2020-03-02 10:34] hsluoyz commented on #63
Good. Thanks.

Also a update from customer: https://gitter.im/actix/actix-web

[2020-03-02 10:52] PsiACE commented on #63
He need an example of ACL model. I will update later.

[2020-03-02 11:06] omid commented on #64
I've already started the second option. It's not finished, since I faced some problems in the diesel-adapter. After releasing version 0.3.0 it's more possible to be able to finalize it.

[2020-03-02 11:31] GopherJ commented on #64
@omid don't hesitate if you have met any problems.

[2020-03-02 11:32] GopherJ commented on #63
@PsiACE Thanks!

[2020-03-02 14:59] PsiACE commented on #63
@GopherJ

Please check https://github.com/PsiACE/casbin-examples/tree/actix_fileadapter_acl/actix_fileadapter_acl

I think this can be used as a simple example.

[2020-03-02 18:58] omid commented on #64
@GopherJ PR is created @ https://github.com/casbin-rs/examples/pull/2

[2020-03-03 06:18] PsiACE commented on #63
Done!

[2020-03-03 07:43] drholmie commented on #55
Hey there @GopherJ wanted to clarify a few things. Firstly, should I open a new issue to better track the completion of tests? Secondly, should I also follow the double insert and remove checks as mentioned in the `test_modify_policy_api()`:
[code]
for `remove_policies` and `add_policies`  as well?

[2020-03-04 07:52] GopherJ commented on #55
Hello @drholmie , yes u can open a new issue to better track the completion of tests.

Yes u can do that.

[2020-03-04 15:12] drholmie opened #65 "Add unit tests for `addPolicies` and `removePolicies`"
Following up from #55 need to add unit tests for the following apis:
[code]

[2020-03-04 15:17] drholmie commented on #55
Thanks for the go ahead @GopherJ !

[2020-03-06 03:18] xcaptain opened #67 "Consider using the subslice patterns"
Rust 1.42 will provide some pattern matching improvements and will be released on Mar 12, for details see https://blog.rust-lang.org/inside-rust/2020/03/04/recent-future-pattern-matching-improvements.html

I think it's a good opportunity to replace the current `Vec<&str>` apis to `[&str; 4]` and pattern matching whether the passing argument is of length 3 or 4

[2020-03-06 07:42] #65 closed

[2020-03-06 07:47] #63 closed

[2020-03-06 12:28] DevinR528 commented on #5
would the use of this look something like this
[code]
and the same for `Model` but you may have to `reload_policy`?

[2020-03-07 04:42] hsluoyz commented on #63
Don't forget advertising it next time !

Like I did: https://github.com/actix/examples/pull/267

[2020-03-07 14:34] xcaptain commented on #5
@DevinR528 Yes, we can do this way because `Box<dyn Adapter>` removes type information, at first we are using

[code]

So we were facing the problem that can't change adapter at runtime.

[2020-03-07 20:25] DevinR528 commented on #5
Ahh yeah the whole existential type stuff being much less limited with `Box<dyn Trait>`.

I was planning on opening a few PR's to work on the roadmap if that sounds good, I'll reference this issue.

[2020-03-10 08:52] GopherJ opened #70 "implementation of `TryIntoAdapter` and `TryIntoModel` trait"

[2020-03-17 16:24] hsluoyz opened #71 "Add Casbin-RS to our feature set table"
See: https://casbin.org/docs/en/overview#feature-set-for-different-languages

![image](https://user-images.githubusercontent.com/3787410/76877733-d11a9580-68ae-11ea-818f-20ff8ef6d473.png)

[2020-03-18 04:20] hsluoyz commented on #71
@GopherJ @xcaptain @PsiACE

[2020-03-20 16:24] GopherJ opened #73 "covert rule: Vec<&str> to rule: Vec<String>"
At the beginning we would like to use &str because the conversion from String to &str is cheap.

However, if we consider the production environment and the real use case, we will find it's hard to generate &str with the "correct" lifetime ('static).

For example:

[code]

The better solution is to have: `Into<String>` but we need to guarantee it's `Send` and `Sync`.

[2020-03-21 19:51] DevinR528 opened #74 "Model proc-macro WIP example"
One of the more interesting features of rust are proc-macro's, I have wondered if it was possible to use a diesel style "schema" generator to create the `Model` and by doing so create a type that can hold policy lines and have this also used in `enforce` possibly? This example is more a proof of concept to start a conversation about this feature.

I created a repo with a minimal-ish example
[Casbi

[2020-03-23 08:43] PsiACE commented on #74
Hi, I saw your work and it was great. Just wondering, what do you think is the necessity of this approach at this stage?

Since you mentioned diesel, I have some other ideas. For example
- A configuration file like `casbin.toml`;
- Some mechanisms like migrations.
- Of course, the schema you mentioned is also an important part.

[2020-03-23 11:15] DevinR528 commented on #74
It would move a lot of code from runtime to being compile time checked. Removing the `rhai` eval would improve performance considerably. It isn't a necessity but it would be nice, as everything works now. I do think using something like the `casbin-proc-macro` example would allow for easy migrations and `Model` schema generation.

[2020-03-31 09:31] VanillaBrooks commented on #67
Hey, I would potentially like to take this one. Although, some preliminary grepping shows over 150 mentions of Vec<&str>, probably 80+ of which are function argument types. Could you point me in the direction of some examples in the current code ?

what does "passing argument" mean in this context ? Are you suggesting to parse whether the last argument is an empty `str` ? As in parsing :
["foo", "

[2020-03-31 10:48] xcaptain commented on #67
@VanillaBrooks Thanks for the help, I would suggest you start from `enforce` method, normally `enforce` takes 3 parameters those are sub, obj and act, which means check if one subject can act on one object. But in some situations a subject may belong 2 domains(organizations), so we must provide one more domain parameter.

You can see the example at

https://github.com/casbin/casbin-rs/blob/67e8500

[2020-04-01 07:08] hackerchai commented on #73
I am working on this.

[2020-04-01 07:18] hackerchai commented on #5
@xcaptain @hsluoyz
I am currently working on the (sqlx-adapter)[https://github.com/casbin-rs/sqlx-adapter] development which will fully support async database operation.

[2020-04-01 12:12] mehcode commented on #43
@GopherJ Is there something in particular you were missing from SQLx? Happy to help prioritize any remaining pieces.

[2020-04-01 15:00] hackerchai commented on #73
#75 pull request fixed.

[2020-04-01 15:00] hackerchai commented on #73
#75 pull request fixed.

[2020-04-01 15:43] xcaptain commented on #67
@VanillaBrooks After some considerations, I think this is not an issue, the current behavior is fine, what do you think

[2020-04-02 20:27] VanillaBrooks commented on #67
Well I'm unsure how the ergonomics would work, but I think they would be less than that of the current `Vec<&str>` depending on how things are done. I suppose one solution would be to make all methods that accept `Vec<&str>` to move to something like this:

[code]
However, due to the orphan rule `From` cant be implemented for `[&str;4]`, so wrapper types would need to be added. I think this would

[2020-04-03 14:40] xcaptain commented on #67
@VanillaBrooks  A detailed discussion about `Vec<&str>` can be found at https://github.com/casbin/casbin-rs/pull/75

Change `Vec<&str>` to `[&str, 3]` doesn't provide any benefits for this project, I will close this issue.

[2020-04-03 14:40] #67 closed

[2020-04-04 08:12] #73 closed

[2020-04-04 11:57] GopherJ commented on #43
@mehcode @hackerchai is working on it and I think he has already everything he needs. So it's fine:) Thanks for making this cool library.

[2020-04-05 13:37] GopherJ commented on #71
@hsluoyz  I would say we have all except `ABAC` and `FilteredAdapter`, about `ABAC` @xcaptain  may know more than me, I have never used it so I have no idea.

[2020-04-05 13:38] GopherJ commented on #51
@PsiACE Hello are you still on this?

[2020-04-05 13:49] xcaptain commented on #71
@GopherJ casbin-rs doesn't support ABAC yet, because we are using `Vec<&str>` as `enforce` parameter, which requires all elements in the vector have the same type, while `ABAC` requires matching on some attributes of an object.

Do you want to make a pull request to the doc site about the current status of casbin-rs?

[2020-04-05 13:50] GopherJ commented on #70
[code]

[2020-04-05 13:50] hsluoyz commented on #71
Thanks @GopherJ @xcaptain ! Can anyone update the docs?

[2020-04-05 13:51] xcaptain commented on #71
I think the `FilteredAdapter` would be much easier to implement, do we need to implement it first?

[2020-04-05 14:04] xcaptain commented on #71
@hsluoyz https://github.com/casbin/casbin-website/pull/60 please review

[2020-04-05 14:13] #71 closed

[2020-04-05 14:13] hsluoyz commented on #71
Merged.

[2020-04-05 14:25] PsiACE commented on #51
Yep. To some extent, I hope it can be my gsoc project, but I will also consider making some general contribution.

[2020-04-05 14:48] xcaptain opened #78 "Implement ABAC model"
Current we are matching directly over object, means subject can act on object, with ABAC we can do matching like: subject can act on object is this object has specific attributes.

[ABAC doc](https://casbin.org/docs/en/abac)

This problem may be a little hard because we are using `Vec<&str>` as the parameter for `enforce`, which requires every element in the vector has the same type that is `&str`

[2020-04-05 14:53] xcaptain opened #79 "Implement FilteredAdapter"
Currently we load all the policies into casbin and then do the matching, this would cause a lot of memory when we have many policies(millions or more). A filtered adapter means when an `enforce` request happens then query the adapter for result.

diesel-adapter and sqlx-adapter should implement this feature.

[2020-04-05 15:13] GopherJ commented on #51
No problem @PsiACE , I just would like to make sure there is someone on it so I can do other things.

[2020-04-05 15:18] GopherJ commented on #79
@xcaptain  Is it possible to change GSOC ideas? I would like to put some issues into GSOC ideas

[2020-04-05 15:24] xcaptain commented on #79
@GopherJ I'm afraid not. How about we create a slack channel so all the contributors can discuss some proposals at slack first.

[2020-04-05 15:31] GopherJ opened #80 "GSOC & Non-GSOC: gitter team link"
Here the link where we'll use for GSOC casbin-rs and future communication on improving casbin-rs. Please join if you would like to do contributions on casbin-rs or if you have sent casbin-rs proposals.

Workspace: casbin-rs@slack.com

Join: [click me](https://join.slack.com/t/casbin-rsslackcom/shared_invite/zt-d965ofhe-yBKjoYn1S2sFJLq1O7k4mA)

[2020-04-05 15:41] GopherJ commented on #80
@hackerchai @DevinR528 @PsiACE and the others.

[2020-04-05 15:51] GopherJ opened #81 "GSOC: tokio runtime, fully async adapter"
- [x] Make async-std runtime (the current one) a feature runtime-async-std and enables it by default.
- [x] Implement the new feature runtime-tokio which use tokio as the executor of async/await.
- [x] Implement a fully asynchronous adapter: sqlx-adapter using sqlx.

Please comment below if you have sent proposal and if you'll work on this.

[2020-04-05 15:54] GopherJ opened #82 "GSOC: actix actor,actix middleware"
- [x] implement an actix casbin actor which accepts messages of rbac request (subject, domain, object, action and more). The actor will return the result of enforcing.
- [x] implement an actix middleware using actix-web-httpauth and actix casbin actor

Please comment below if you have sent proposal and if you'll work on this.

[2020-04-05 15:55] hackerchai commented on #80
Get it. Already in.

[2020-04-05 15:56] GopherJ opened #83 "GSOC: Shared Redis TTL cache"
- [x] Design Cache trait, make CachedEnforcer being able to accept external cache.
- [x] Implement redis TTL cache.

Please comment below if you have sent proposal and if you'll work on this.

[2020-04-05 15:58] GopherJ opened #84 "GSOC: logger system"
- [ ] Design Logger trait and implement the default logger which implements Logger trait.
- [ ] Logger can show if the enforcing result is cached or not by the prefix [Cache].
- [ ] Logger support levels (info, debug, error...). Logs can be filtered by specific Level.
- [ ] Logs are by default colorful.

Please comment below if you have sent proposal and if you'll work on this.

[2020-04-05 16:05] hackerchai commented on #82
I have sent my proposal on this issue.@GopherJ

[2020-04-05 16:06] hackerchai commented on #81
This is also a part of my proposal.@GopherJ

[2020-04-05 16:12] GopherJ opened #85 "improve error handling"
currently we are using:

[code]

Ideally we should use our own error type.

[2020-04-05 16:14] GopherJ commented on #46
This can be closed because:

1. watcher has been implemented
2. lock is ok because update function will use mutable reference

redis-watcher is still not implemented but it can be considered as third-party library

[2020-04-05 16:14] #46 closed

[2020-04-05 16:24] GopherJ commented on #84
As I know @PsiACE  is working on this

[2020-04-05 16:31] PsiACE commented on #84
May be useful discussion in the past https://github.com/casbin/casbin-rs/issues/51

[2020-04-05 17:52] GopherJ commented on #70
#86

[2020-04-05 18:34] #70 closed

[2020-04-05 22:13] GopherJ commented on #79
@xcaptain  It seems FilteredAdapter is not dynamic for now.

I'm not sure if it'll be better if we detect if the request matches one of the element in filter. If not we load that part then do the enforce.

For example, we have initial filter like:
[code]
then suddenly we receive a request `vec!["alice", "domain2"]`, we fount it doesn't matches the filter, then we ask adapter to load policies for `

[2020-04-05 22:14] GopherJ commented on #79
It will cause some performance downgrade for sure

[2020-04-06 00:15] lucaskenda opened #88 "More examples for policies."
Hi!

Do you have an example to add new policies from a function, not just a file?
I saw that you can use a MemoryAdapter but I can't make it work.

[code]

Thanks!
Lucas

[2020-04-06 02:05] xcaptain commented on #79
The hard part is when an enforce request happens, the filtered adapter needs to know which policies should be loaded(recursive search, policies for alice, policies for alice's group ...).

The Go version of casbin provides a simple example on how to filter through domain, this is simple because policies won't exist in 2 domains. This way is not idea because only one domain may contains many polici

[2020-04-06 02:38] xcaptain commented on #79
Sorry I may misunderstand the Go version of `FilteredAdapter`, let's discuss an example here. We have

rbac_policy.csv

[code]

An enforce happens

[code]

Can a sql like

[code]

provides enough information to determine the enforce result?

[2020-04-06 04:24] hsluoyz commented on #80
Hi @GopherJ , why don' use Gitter?

[2020-04-06 07:36] GopherJ commented on #88
Hello @lucaskenda , we have a bunch of functions that you can use: https://github.com/casbin/casbin-rs/blob/master/src/management_api.rs

You'll need `use casbin::prelude::*`

[2020-04-06 08:22] GopherJ commented on #51
Let's move to #84

[2020-04-06 08:22] #51 closed

[2020-04-06 08:26] GopherJ commented on #85
The importance is to be `Send + Sync`

[2020-04-06 09:28] GopherJ commented on #79
@xcaptain If the adapter has a function like: `load_filtered_policy` I think it's ok. Just like `remove_filtered_policy`.

But the difficulty for me is: **how to generate a more generic filter from a request, we don't want to load only one policy at a time**, If we are using rbac maybe we can use `domain` for fitering but I don't have a good idea for now.

in `RBAC` we can add `load_filtered_polic

[2020-04-06 09:46] xcaptain commented on #79
https://github.com/casbin/casbin-rs/blob/a9d5d1e7ed3731a50d18e13dc4592208f5c877e6/src/enforcer.rs#L99

This `load_policy` function will load all policies from database, if we have a filtered adapter we don't need to load policy at `new` method. Execute `load_filtered_policy` at `enforce` method.

[2020-04-06 09:57] GopherJ commented on #85
Let's track: https://github.com/jonathandturner/rhai/issues/129

[2020-04-06 11:46] lucaskenda commented on #88
I've managed to make it work!

I'm creating the MemoryAdepter like this:

let m1 = MemoryAdapter {
  policy: IndexSet::new(),
};

its ok?

[code]
Thanks @GopherJ!!!

[2020-04-06 11:56] GopherJ commented on #88
We have also db adapters if you need persistence.

https://github.com/casbin-rs/diesel-adapter

and

https://github.com/casbin-rs/sqlx-adapter/pulls it's not finished yet but will come soon.

You can also use `MemoryAdapter::default()` it's better because we will make policy hidden soon

[2020-04-06 11:56] #88 closed

[2020-04-06 12:42] GopherJ opened #90 "automate package release"
See: https://github.com/semantic-rs/semantic-rs

[2020-04-06 12:46] GopherJ commented on #90
Let's use #89 for testing

[2020-04-06 14:48] GopherJ commented on #85
closed by #91

[2020-04-06 14:48] #85 closed

[2020-04-06 15:05] GopherJ commented on #78
@xcaptain Could you give us an example of usage? The first and the second. Also are you interested in implementation of this?

[2020-04-06 15:14] xcaptain commented on #78
@GopherJ A simple example, Trump can access this box of masks only if it has a label says "for USA" :smile:

We can simply say

RBAC: a subject can act on an object if this subject has some attributes(role)
ABAC: a subject can act on an object if this object has some attributes

I would like to try this issue but I still didn't find any good ideas to solve it.

[2020-04-06 15:19] GopherJ commented on #78
I mean some example code

[2020-04-06 15:21] xcaptain commented on #78
Have no clue yet, need to investigate more.

[2020-04-07 03:51] hsluoyz opened #92 "Add actix-casbin-auth to Actix official middleware list"
We have very active development for Casbin-RS now. However, our popularity is still under my estimation (129 stars). I hope we can do more advertisement in future to let people know and use our project.

The first thing we should do is to add Casbin middleware: https://github.com/actix/examples/tree/master/casbin to Actix official middleware list: https://actix.rs/docs/middleware/ . So Actix websi

[2020-04-07 04:16] hsluoyz opened #93 "Make rocket-authz middleware"
Rocket is one of the top web frameworks in Rust. We already made a Actix middleware (https://github.com/casbin/casbin-rs/issues/92) but haven't got a Rocket one.

I think this demo (https://github.com/oiatz/Rocket_Casbin_Demo) is not enough. We will need a full-fledged rocket-authz middleware here: https://github.com/casbin-rs/rocket-authz

The Rocket community has urgent need for good authorizati

[2020-04-07 08:09] GopherJ opened #94 "support pattern in role manager"
See: https://github.com/casbin/casbin/blob/04c96314107df0803aa1e7ffaf3cd4784911a88c/rbac/default-role-manager/role_manager.go#L50

[2020-04-07 08:10] GopherJ commented on #94
I'll do it recently.

[2020-04-07 08:11] GopherJ commented on #93
Who can help on `Rocket`?

[2020-04-07 08:12] GopherJ commented on #92
I'll consider making a good actix middleware

[2020-04-07 08:14] GopherJ commented on #78
hello @xcaptain could you help on finding a solution for this? yesterday I spent some time on it. I think the main problem is how to register all the types to `rhai::Engine`.

I'll take care of #92 #94 and if I have time #79

[2020-04-08 08:17] GopherJ commented on #92
I had a thought on this. The first thing we need is an actix casbin actor.

[code]

we use `casbin::TryIntoAdapter, casbin::TryIntoModel` for creating it.

[code]

[2020-04-08 08:35] GopherJ commented on #92
Then we define our message:

[code]

[2020-04-08 08:37] GopherJ commented on #92
At last we should implement:

[code]

[2020-04-08 08:50] GopherJ commented on #92
Users can then register `CasbinActor` on `actix-wb::App`.

In our middleware we access casbin enforcer by:

[code]

[2020-04-08 08:59] GopherJ commented on #92
The main problem of this idea is **Users need to register casbin enforcer on app_data**.

How can we register an app data while creating a middleware?

[2020-04-08 09:01] hackerchai commented on #92
I am working on this issue. @hsluoyz  @GopherJ

[2020-04-08 09:20] PsiACE commented on #90
Do you mean we need to migrate the [existing auto release](#62 ) to semantic release?

[2020-04-08 09:55] GopherJ commented on #92
See also: https://github.com/actix/actix-web/issues/1444

[2020-04-08 10:25] GopherJ commented on #90
I mean when we accept a PR, I would like to use sematic-rs for deciding the new version and then after accepting the new PR.

It should be able to create a new git tag

[2020-04-08 10:27] GopherJ commented on #90
Maybe we don't need to migrate but just adding semantic-rs for version discoversing

[2020-04-08 12:54] GopherJ commented on #94
wait to merge #95

[2020-04-08 13:15] hackerchai commented on #43
@GopherJ @hsluoyz   sqlx-adapter version 0.1.0 can be reviewed here: https://github.com/casbin-rs/sqlx-adapter/pull/2

[2020-04-08 13:35] #94 closed

[2020-04-08 15:10] GopherJ commented on #43
https://crates.io/crates/sqlx-adapter

[2020-04-08 15:10] #43 closed

[2020-04-08 15:27] GopherJ opened #97 "split code into multiple features"
some times users just need part of all the features. It's important to let users choose what they want so that we can decrease the binary size.

We can have the following features:

- `cached` => add the dependency: **ttl_cache**, default enabled: **false**
- `glob` => add the dependency: **globset**, default-enabled: **true**
- `logging` => add the dependency: **log** , default-enabled: **false**

[2020-04-08 16:57] #81 closed

[2020-04-08 16:58] GopherJ commented on #81
Thanks @hackerchai

[2020-04-09 13:25] GopherJ commented on #93
seems @hackerchai  wants to work on this. I'm not sure if Rocket supports middleware...

[2020-04-09 13:32] hackerchai commented on #93
I will check it these days.@GopherJ

[2020-04-09 13:53] GopherJ opened #99 "considering trait inheritance"
**Deref inheritance** is an **anti-pattern** in rust because it's just passing actions/tasks to specific field. That means in our function we'll never be able to get `child`'s reference.

So I propose to have better design and remove the usage of `Deref` in `CachedEnforcer`.

**What can we do?**
I think we can use trait inheritance, that means we should have a base/parent trait which can be called

[2020-04-09 14:02] GopherJ commented on #99
Also maybe `specification` https://github.com/rust-lang/rust/issues/31844 can help

[2020-04-09 15:43] PsiACE commented on #90
I will try it. Actually, I've written it, but I haven't tested it

[2020-04-09 17:35] PsiACE commented on #90
See #100

[2020-04-10 02:15] schungx commented on #78
I have some ideas for this: https://github.com/jonathandturner/rhai/issues/131

[2020-04-10 08:20] GopherJ commented on #78
Thanks @schungx I have read your ideas and it seems good. I'll give a try recently.

[2020-04-10 08:51] GopherJ commented on #78
@xcaptain Maybe you would like to have a look at @schungx 's idea

[2020-04-10 08:54] GopherJ commented on #78
I think in the first argument of `enforce`, we should accept also `serde_json::Value`, so that we convert it to object-map in rhai:

[code]

[2020-04-10 09:15] schungx commented on #78
In PR# https://github.com/jonathandturner/rhai/pull/128  I've added a nice helper method called `parse_json` which takes a JSON string and parses it into an object map that you can pass onwards to Rhai.

[2020-04-10 09:25] GopherJ commented on #78
@schungx we need to bring `serde_json::Value` into `rhai::Scope`, I think the follow is enough:

[code]

is there a better way?

[2020-04-10 09:37] schungx commented on #78
Concat the JSON into a script is the easiest way, but the problem being you have to create a different script text during each call.  I'd suggest making it constant:

[code]

If you want to keep the object in `Scope`, you have to create a `Map` (basically a `HashMap<String, Dynamic>`) for it.  The helper method I just put in the PR will be easiest:

[code]

If you want to use the existing crate, y

[2020-04-10 09:46] xcaptain commented on #78
@GopherJ I don't think it's possible to add `serde_json` into `rhai`, the `parse_json` method is enough.

@schungx Thank you for the awesome work, I will test your pull request now.

[2020-04-10 09:50] GopherJ commented on #78
@xcaptain we can bring `serde_json::Value` into `rhai`, I prefer it because I don't want users to write json manually

[2020-04-10 09:56] GopherJ commented on #78
@schungx Is it possible to add a feature in rhai which is called: `serde`?

And in this feature, it allows users to bring Serializable value into scope. Sure we should also consider `rhai::Array`.

[2020-04-10 10:03] GopherJ commented on #78
@xcaptain  on our side I think we should define a new trait `ToRhai`, we let enforce function accept `ToRhai`.

Then we do the implementation for `&'static str` so that users can pass `&'static str`, and we also implement `ToRhai` for all types which have implemented `serde::ser::Serialize`.

[2020-04-10 10:28] GopherJ commented on #78
I tried the following code but it seems doesn't compile:

[code]

[2020-04-10 10:36] xcaptain commented on #78
@schungx  I tried `parse_json` and it worked well.

https://github.com/xcaptain/casbin-rs-1/commit/77c41d1b3b6452268577e81d39d7f74d8c608ea3

[2020-04-10 10:55] GopherJ commented on #78
it works after switching to dynamic dispatcher:

[code]

[2020-04-10 12:29] schungx commented on #78
If you're not going to keep the object around (possibly to evaluate many expressions with that single object), it might be faster simply to splice the JSON into the beginning of the expression text using the `const my_json = #...` template.  This way, you simply copy and merge the text once, but you avoid the copying of the object, plus all the values inside (which may be strings, etc.).

[2020-04-10 12:40] schungx commented on #78
@GopherJ  my suggestion:  keep `enforce` taking strings.  It seems to be a very heavy price to pay to add an additional level of indirection, plus all the boxing and allocations, just to support objects.  Especially when you're gonna transparently convert them into JSON text strings anyway!

Therefore, it would be much better to have `enforce` take a slice of an enum, which contains either a wrapp

[2020-04-10 16:06] hackerchai commented on #97
I am working on this. @GopherJ

[2020-04-10 17:12] xcaptain opened #101 "Target casbin to wasm"
We usually use casbin-rs in a web server, that is when a request comes in, a middleware or controller asks casbin whether it's authenticated. A common situation is that we also have a frontend ui that needs to do permission control. If we can compile casbin to wasm file, then we can do enforce at browser, no need to ask for the server all the time.

Rust has very good wasm support, I think this id

[2020-04-10 19:22] GopherJ commented on #78
@schungx Yes we decided to go this way to support first just Strings, otherwise we need to bring many overhead like nightly, serde, Box....

[2020-04-10 20:25] GopherJ commented on #99
see #103  it's not fully implemented.

Like we cannot have auto impls InternalApi for T: CoreApi because we still need to keep some differences.

But it's enough for now and it will help the implementation on `SyncedEnforcer`

[2020-04-10 20:25] #99 closed

[2020-04-10 22:25] GopherJ opened #104 "add github-action-benchmark"
https://github.com/rhysd/github-action-benchmark looks pretty cool. I put it here in case anyone would like to give a try

[2020-04-11 04:29] PsiACE commented on #104
Looks good.

[2020-04-11 04:54] xcaptain commented on #101
First trial failed, because casbin depends on tokio depends on mio depends on net2, and net2 doesn't compile on wasm32-unknown-unknown. To achieve this we may need to have a very simple core and build other depencies on top of this core.

[2020-04-12 08:02] GopherJ commented on #78
closed as #102

[2020-04-12 08:02] #78 closed

[2020-04-12 17:29] PsiACE commented on #104
Done, see #107 .

[2020-04-12 17:42] PsiACE commented on #101
I like option 1, more lightweight, better structure.

[2020-04-12 17:58] GopherJ commented on #104
hello @PsiACE  It seems that I got some errors:

[code]

[2020-04-12 17:59] GopherJ commented on #104
Do you have any idea on this? Is it because that basically it'll need two commits for comparing and the first PR will not be able to find previous result?

[2020-04-12 18:06] GopherJ commented on #104
[code]
will this be the cause?

[2020-04-12 18:11] GopherJ commented on #104
Another difference is that in your loge repo, you are using `test::Bencher` and in casbin-rs we are using criterion

[2020-04-12 18:15] GopherJ commented on #104
Ok seems it doesn't support criterion results. Let's switch back to `test::Bencher`

[2020-04-12 18:19] PsiACE commented on #104
`error: bench failed`, so we need fix bench first.

[2020-04-12 18:22] PsiACE commented on #104
[code]

[2020-04-12 18:25] PsiACE commented on #104
Perhaps you're right. But first of all, it should be noted that the reason for the final failure of CI is that there is no output.txt, which is caused by the failure of the bench.

[2020-04-12 18:39] PsiACE commented on #104
Good example with criterion & github-action-benchmark -> https://github.com/clap-rs/clap/

[2020-04-12 19:11] GopherJ commented on #104
@PsiACE how to reproduce this?
[code]

[2020-04-12 19:18] PsiACE commented on #104
I don't know. Now the computer is not at hand.

Find it at the `Run benchmark` at https://github.com/casbin/casbin-rs/runs/581016543?check_suite_focus=true

[2020-04-12 21:45] GopherJ opened #109 "Improve casbin-rs bench"
While doing the same bench test suite like casbin golang: https://github.com/casbin/casbin/blob/master/model_b_test.go

I found we can get similar results with `CachedEnforcer` but the normal enforcer is 6x ~ 7x slower than golang version.

Can someone help investigating?

@xcaptain @DevinR528 @PsiACE @hackerchai

**eg**. running `small size of rbac model test`:

Casbin Golang
[code]

Casbin Rust

[2020-04-12 21:50] GopherJ commented on #109
Pay attention that the bench here is all about enforcing.

[2020-04-12 21:51] GopherJ commented on #109
See also : https://github.com/jonathandturner/rhai/issues/101

[2020-04-12 22:21] pksunkara commented on #104
It does support with my fork of criterion. You can check it out on https://github.com/clap-rs/clap. We setup PR benchmarking.

[2020-04-12 23:39] GopherJ commented on #104
thanks to make it simple we switched back to test::Bencher

[2020-04-12 23:39] #104 closed

[2020-04-12 23:40] GopherJ commented on #109
https://casbin.org/casbin-rs/dev/bench/

You can visualize it here.  Seems actions took 1h30m to finish all the bench.  There must be a problem somewhere

[2020-04-13 01:07] xcaptain commented on #109
We can first try https://github.com/flamegraph-rs/flamegraph to see where is the bottleneck.

[2020-04-13 01:14] hackerchai commented on #109
@GopherJ
Where can we see the visualized graph for casbin(go)? Or we should run the benchmark manuallly

[2020-04-13 04:55] GopherJ commented on #109
@hackerchai You can run it though:
[code]

there is no action benchmark graph on casbin golang

[2020-04-13 05:05] hackerchai commented on #109
@GopherJ  Get it

[2020-04-13 08:04] GopherJ commented on #109
@xcaptain are you able to generate a graph using: https://github.com/casbin-rs/casbin-flamegraph ?

I failed to generate

[2020-04-13 08:42] GopherJ commented on #109
Basically I have no idea why `add_grouping_policy` is so slow in casbin-rs... I changed it to batch operations and seems better but the enforce speed doesn't change.

Also while checking the source of `rhai::Scope` , they use `Vec` behind, once the evaluation of one policy finishes, we should truncate it. A simple `rewind` improves `10%` on speed

[2020-04-13 10:25] xcaptain commented on #109
I generated a simple graph from the `b_benchmark_rbac_model_small`

![image](https://user-images.githubusercontent.com/4054836/79113103-b571b480-7db2-11ea-9bf3-62a7cd7ff940.png)

if we use `join_all` at https://github.com/casbin/casbin-rs/blob/71f93f3521ed2bce52abe4d5989803e360ebf518/benches/benchmark.rs#L143 may improve some performance.

If we do `await` in a loop then we are writing sync code,

[2020-04-13 10:30] GopherJ commented on #109
using a await in loop is ok, but block_on will
 create runtime which basically will create a thread.

sadly libtest benchet and criterion don't support executor out of box.

[2020-04-13 12:23] DevinR528 commented on #109
I'm sure the `await` stuff isn't helping but only when the above layer gets smaller is there meaningful information that basically just says the async stuff runs only as long as the `enforcer` code which is almost completely `rhai` runtime execution.
These two calls are killing us according to the flamegraph.
[code]
but because of lifetime stuff and `enforcer` taking a `&mut self` you can't includ

[2020-04-13 12:43] GopherJ commented on #109
Yes rhai's benchmark is worse than govaluate.

With the latest commit, casbin golang is 6x faster than casbin-rs including the fact that rhai is slower and we are repeatedly creating async-std runtime. It's ok for me.

Maybe we can try to share engine because it seems creating a new Engine while enforcing is a little bit heavy as flamegraph shows.  And eventually see how to improve rhai's benchmar

[2020-04-13 12:54] DevinR528 commented on #109
I completely agree although I wasn't able to get that to work. The only other idea I had would be passing a `Scope` and `Engine` to `Enforcer::enforce` but that creates more overhead for the user so not sure. You still have to run the interpreter which is the slow part. The flamegraph does show that the async runtime isn't adding time to that particular run of the program.
I'm pretty sure if it wa

[2020-04-13 12:58] GopherJ commented on #109
Why not add directly another field in enforcer? I think it's ok. The only question is: Do we need to register functions only once or in every enforce call. I prefer registering functions only once.

[2020-04-13 13:02] GopherJ commented on #109
I encourage you guys to check the code and see what you can improve!

[2020-04-13 13:43] DevinR528 commented on #109
I did try adding it as a field they both (Scope and Engine) have lifetimes, that makes the `EventEmitter::on` method impossible to write a type signature for.

Creating a `lazy_static` `Engine` actually helps out a lot
`await-fut` is current master
[code]

[2020-04-13 14:04] xcaptain commented on #109
Really `async_std` so light weight? creating thousands of futures and run them doesn't slow down the whole program? That's hard to believe.

I agree to take some actions to improve `rhai`'s performance.

[2020-04-13 14:17] DevinR528 commented on #109
No you are right it does add some overhead this is the same function just with async keyword and being awaited by `async_std::task::block_on(future)`
[code]
What I mean about the flamegraph is that since it measures everything in relation to the time each function took to run the `rhai` stuff is expensive enough it hides the cost of async stuff. In other words the bottle neck is not async.

[2020-04-14 11:59] GopherJ commented on #101
I would say we can have a `synchronous` feature or `wasm` feature, All the adapters can also implement this feature.

If someone is interested in this please comment below.

[2020-04-15 08:40] GopherJ opened #114 "implementation details on distributed casbin enforcers"
I don't really like the idea of watchers because it's buggy, we should find other solutions.

See also: https://github.com/casbin/casbin/issues/421

[2020-04-15 08:43] GopherJ commented on #114
On the same machine we don't need multiple enforcers, we just need to wrap enforcer inside `Arc<RwLock>`.

We only need this when there are multiple enforcers on different machines and they need to synchronize each other.

[2020-04-15 08:44] GopherJ commented on #114
Not sure if: https://github.com/railgun-rs/actix-raft helps

[2020-04-16 08:15] GopherJ commented on #109
It seems `rhai::Engine` creation is really.... slow:

[code]

Even I already removed many built in functions and the engine doesn't need to register them during runtime but still there are many functions registered during runtime

[2020-04-16 14:21] GopherJ commented on #109
share engine is done #117 and the rest possibilities of benchmark improvements should be on rhai side instead of casbin-rs

[2020-04-17 05:17] hsluoyz opened #118 "re-design casbin model conf to achieve Turing-complete"
Apache Teaclave (https://github.com/apache/incubator-teaclave) is an Apache incubator project focusing on SGX. They implement a similar modeling language as Casbin but seems to be more powerful (Turing-complete). See: https://github.com/apache/incubator-teaclave/issues/265

acs: https://github.com/apache/incubator-teaclave/tree/6d53e8b4fe841598e0472a9abd27776c91e90469/mesatee_services/acs

Can we

[2020-04-17 15:03] GopherJ commented on #79
close as solved in #119

[2020-04-17 15:03] #79 closed

[2020-04-17 15:04] GopherJ commented on #5
close this as nearly all items are checked. See #119 for latest filtered adapter

[2020-04-17 15:04] #5 closed

[2020-04-18 13:31] GopherJ commented on #74
@DevinR528  I think some day we really need a modeling language for casbin so that things can be verified and validated.

[2020-04-18 14:10] GopherJ commented on #114
It seems that we can try to use actix-raft first, here an example project I found:

https://github.com/oronsh/raftor

[2020-04-18 14:41] GopherJ commented on #114
Let's start the work from here: https://github.com/casbin-rs/casbin-raft

[2020-04-19 10:26] parqbanq commented on #101
Currently using [CASL](https://github.com/stalniy/casl)  in js, which is 'isomorphic'. Looking for something similar in rust, so yes, interested.

[2020-04-19 12:59] GopherJ opened #122 "multiple matches support"

[2020-04-19 13:41] hsluoyz commented on #101
We had a plan for developing casbin.js, which is based on Node-casbin because of the JS language: https://github.com/casbin/casbin.js/issues/2 . We may even have a GSoC student to work on it this year: https://github.com/casbin/SummerOfCode2020#casbinjs

Of course it's also welcome if Casbin-RS can achieves front-end authorization too via WASM!

[2020-04-19 13:54] parqbanq commented on #101
@hsluoyz That's even better I suppose as at this stage many solutions will have rust for backend and js in the client.

[2020-04-19 15:16] hsluoyz commented on #122
How to enforce for multiple matchers?

[2020-04-19 16:08] GopherJ commented on #122
@hsluoyz  My idea is to use regexp to extrat `pn` from matcher.

regexp
[code]

extract function
[code]

[2020-04-19 16:11] GopherJ commented on #122
once `ptype` is extracted, we can then know which policy to use (p1, p2, p3, p...n), then we will be able to calculate the value for `m1`, `m2`, m3`...

The key thing here is to use something like `IndexMap` instead of `HashMap` which will keep order, otherwise maybe it'll first calculate the value of `m2` but `m2` relies on `m`, `m1`...

[2020-04-19 16:11] GopherJ commented on #122
A first version will be in #123

[2020-04-25 14:21] hackerchai commented on #82
The actor is finished. see https://github.com/casbin-rs/actix-casbin/pull/3.

Please update the todo.

[2020-04-25 14:21] hackerchai commented on #92
The actor is finished. see https://github.com/casbin-rs/actix-casbin/pull/3.

[2020-04-25 15:55] GopherJ opened #125 "Make effector a stream to optimize enforcing speed by quick return"
See also: https://github.com/casbin/casbin/issues/439

My idea is to make `effector` a writable stream (Sink + Stream), once a policy has been analyzed, we write it into the `stream` and the stream will use different strategy to analyze the result.

Once the final result is produced, we return it as the result of `e.enforce`

[2020-04-25 16:02] GopherJ commented on #125
Or maybe we should just implement it in `enforce` method?

[2020-04-25 18:27] GopherJ commented on #125
The former makes it more general but harder to implement. The latter is simpler but less general (we need to put everything in enforce method, now it's ok we have only 4 effect strategies but how about having more?)

[2020-04-27 16:02] rakeen01 commented on #92
I was interested to work on this issue (https://github.com/casbin/Casbin.NET/issues/24) however working on a good actix software also seems interesting. Is there already a teambase working on this I can connect with?

[2020-04-28 01:32] hsluoyz commented on #92
Have we put our product here? https://actix.rs/docs/middleware/

[2020-04-28 02:33] hackerchai commented on #92
@hsluoyz  As far as I know, the only repo of Actix example is https://github.com/actix/examples/tree/master/casbin . I have finished the actor while the middleware is still work-in-progress. When the middleware is done, I will send a PR to https://github.com/actix/examples/tree/master/casbin.

[2020-04-28 03:21] PsiACE commented on #92
@hackerchai  You can provide a separate example with middleware. In addition, the example also needs to be added to [casbin-rs/examples](https://github.com/casbin-rs/examples).

[2020-04-28 03:52] hsluoyz commented on #92
I'm talking about how to advertise Casbin-RS better on Actix website: https://github.com/actix/actix-website

https://github.com/actix/actix-website/blob/master/content/docs/middleware.md is the source code of https://actix.rs/docs/middleware/

Can anyone make a PR to add Casbin to their website?

[2020-04-28 04:16] PsiACE commented on #92
@hsluoyz The link you gave is about official middleware, but we are a third party, so it may not be suitable.

[2020-04-28 05:40] hackerchai commented on #92
@PsiACE  BTW, there is a mistake in the [middleware](https://casbin.org/docs/en/middlewares) page of the casbin official website. The `actix-casbin` link in Rust section is not a middleware but a simple example using actix-web. The [actix-casbin](https://github.com/casbin-rs/actix-casbin) now refers to the Actix runtime actor. We should call the official casbin middleware [actix-casbin-auth](https

[2020-05-03 09:29] #82 closed

[2020-05-03 09:29] GopherJ commented on #82
See:

- https://github.com/casbin-rs/actix-casbin-auth
- https://github.com/casbin-rs/actix-casbin

[2020-05-03 09:59] hackerchai commented on #92
#82 Middleware has been implemented.

[2020-05-04 00:51] hsluoyz commented on #125
We should extract the effector out. I think the idea about stream sounds good. Is sink + stream a built-in concept/operation in Rust?

[2020-05-04 01:06] hsluoyz commented on #90
@GopherJ is this already done?

[2020-05-04 01:09] hsluoyz commented on #97
Any update?

[2020-05-04 01:23] hsluoyz commented on #92
@hackerchai thanks.

Waiting for Actix guys' decision: https://github.com/actix/actix-website/issues/170

[2020-05-04 01:28] hackerchai commented on #92
@hsluoyz Thanks for your work. I will track that issue and implement an actix example using actix-casbin-middleware  as soon as possible.

[2020-05-04 02:33] hsluoyz commented on #109
@GopherJ @hackerchai we should find out what part of rhai is slow, I saw you made some progress in discussion here: https://github.com/jonathandturner/rhai/issues/101 . Rust is supposed to be at least 10x faster than Golang. Being even slower than Golang is not understandable.

Or is there any other Rust expression evaluators that runs fast?

[2020-05-04 04:26] hackerchai commented on #90
This is still remaining to be done. I am working on this.

[2020-05-04 04:28] hackerchai commented on #97
I am still waiting some features such as sync to be done. Once these are finished, this issue will be quickly solved.

[2020-05-04 04:51] PsiACE commented on #90
There are two points to note:

- #100 I have completed these tasks, but I have commented out the part that works
- [semantic-rs](https://github.com/semantic-rs/semantic-rs): The project has been archived, we need an alternative.

@hsluoyz @hackerchai

[2020-05-04 04:53] hackerchai commented on #90
I have communicated with @GopherJ , we agree to use https://github.com/github/semantic to do this job.

[2020-05-04 04:55] PsiACE commented on #90
Sounds good, do it.

[2020-05-04 08:26] GopherJ commented on #97
@hackerchai we will not have `sync` feature anymore because it requires breaking changes on the api.

Also it's basically a wrapper so users can also wrap Enforcer inside `Arc<RwLock<...>>`

[2020-05-04 08:28] hackerchai commented on #97
So we can implement this issue right now?

[2020-05-04 08:29] GopherJ commented on #125
@hsluoyz It's not a built in concept but it's very common. I didn't try to implement it because some potential problems need to be resolved but generally it should be feasible.

[2020-05-04 08:40] GopherJ commented on #109
@hsluoyz  It'll be a long story to improve the bench. Yes it tends to be faster and the `rawEnforce` is 3x faster than golang but the general benchmark of a project will be hard to say.

Including like I mentioned in this issue, the code we used to benchmark isn't that correct, we didn't remove the time of creating async executor.

Then rhai is slower than govaluate, basically in my opinion rhai h

[2020-05-04 08:44] GopherJ commented on #97
@hackerchai Yes

[2020-05-04 08:45] GopherJ commented on #83
This purpose of a `shared redis TTL cache` is to be able to use the same cache with multiple enforcers.

[2020-05-04 08:48] hsluoyz commented on #83
@hackerchai

[2020-05-04 08:48] GopherJ commented on #90
@PsiACE @hackerchai just to correct, it's: https://github.com/semantic-release/semantic-release which should be fine

[2020-05-04 08:52] hackerchai commented on #83
Get it. It's in the list of my plan.

[2020-05-04 08:54] hackerchai commented on #97
Get it. I think we should open an issue with the roadmap which contains to-dos.

[2020-05-04 13:52] hsluoyz commented on #93
Can anyone work on this?

[2020-05-04 14:00] hackerchai commented on #93
@hsluoyz I have researched for rocket middleware. I will take this task. If anyone can implement it right now it is also welcomed.

[2020-05-04 14:03] hackerchai commented on #93
@hsluoyz I think this issue is high priority. I will start to work on this right now.

[2020-05-04 20:37] GopherJ opened #130 "switch to smol when it's ready"
https://github.com/stjepang/smol is really cool.

It's another async runtime but compatible with tokio and async-std, also it's faster than async-std and tokio (I don't have a figure to prove but people tend to agree on this).

Besides we will be able to target `wasm` because it doesn't rely on `mio`.

I suggest then switch to it when it's ready and remove totally the two features:

- `async-std`

[2020-05-04 23:46] hackerchai commented on #130
Sounds really good. We can give it a try when it's ready.

[2020-05-07 23:48] GopherJ commented on #130
async-std = "1.6.0-beta.1"     # Async version of the Rust standard library

has been published using `smol` as runtime

[2020-05-07 23:50] GopherJ commented on #101
async-std = "1.6.0-beta.1"     # Async version of the Rust standard library

has been published with `smol` as runtime, so we can retry to add `wasm` support. @xcaptain

[2020-05-08 05:20] schungx commented on #109
https://github.com/casbin/casbin-rs/blob/master/src/enforcer.rs#L108-L111

May I suggest that you create a custom package with the four sub-package and share it.  Then you only have to register one package each time a scripting engine is created.  Having one large package improves speed because a function needs not be searched in four different places.

[code]

The above creates `CasbinPackage` th

[2020-05-08 05:26] schungx commented on #109
There is an effort on-going to compile Rhai scripts into bytecodes.  Hopefully that'll make it faster...

[2020-05-08 09:06] GopherJ commented on #109
@schungx Great thanks on your hard work, I'll use your advice but normally I think it'll not influence the speed because in benchmarks I test only `enforce`.

Yesterday I also did a seperate test on pure rhai evaluation without casbin's role manager, the result is something like this:

%60 time has been spent on  rhai
%40 time has been spent on casbin's role manager

I'll try to improve casbin's r

[2020-05-08 09:38] GopherJ commented on #130
since async-std will use `smol` we will use `async-std` probably

[2020-05-08 09:38] #130 closed

[2020-05-08 14:59] schungx commented on #109
@GopherJ   real-world data is valuable for tuning and optimizing purposes.  If you can provide a few test cases, maybe we can investigate how to speed them up for you.

For example, I'm thinking of putting in a "expressions_only" feature that disables most of the statements, leaving only expressions.  That may make the code smaller and faster, but again maybe not...  So some test data is valuable.

[2020-05-08 17:56] GopherJ commented on #84
Close as solved in #134 , I just implemented a simple logger there based on `log` crate.

[2020-05-08 17:56] #84 closed

[2020-05-08 17:57] GopherJ commented on #101
I'll try to upgrade `async-std` to `1.6.0-beta.1`

[2020-05-09 12:48] GopherJ commented on #97
Solved in #136

[2020-05-09 12:50] GopherJ commented on #101
I upgraded `async-std` to `1.6.0-beta.1` but found a big bench regression, I think maybe the bench code need to be adjusted because the two runtimes seem to work differently.

See also: https://github.com/async-rs/async-std/issues/770

[2020-05-09 21:29] GopherJ commented on #101
@xcaptain In this PR: #136, we already be able to run `cargo check` with all our features:

[code]

[2020-05-10 11:04] #97 closed

[2020-05-10 15:52] GopherJ opened #138 "Dont rebuild all role links"

[2020-05-10 15:57] GopherJ commented on #138
See also: https://github.com/casbin/casbin/issues/455

[2020-05-10 16:01] GopherJ commented on #138
https://github.com/casbin/casbin-rs/blob/23af2bf5da713515425eda4fc9af1a094ce765ed/src/emitter.rs#L19

A more clever solution is for example, do the change using `EventEmitter`, from `EventData` we can know exactly what happend so nomally we will be able to add/remove the influenced role links

[2020-05-10 16:35] UnderTreeTech commented on #138
Good idea, does go casbin implement this design pattern?

[2020-05-10 16:41] GopherJ commented on #138
@UnderTreeTech Only casbin-rs used this, in casbin-rs we use it for `logging`, `notifying watcher`, `clear CachedEnforcer's TTL cache`

[2020-05-10 16:47] GopherJ commented on #138
@UnderTreeTech But also it's not necessary to implement it using EventEmitter` we can also put changes in `build_role_links` function's arguments which maybe more clean.

[2020-05-10 16:57] UnderTreeTech commented on #138
LGTM. What's the roadmap to add the feature.
As far I run the model_b_test.go bench by adjusting parameters to 10k roles, 500k users, it costs about 11m and panic(error run too long). So i worry about the performance of casbin much. Do you guys have any plan to optimize performance?

[2020-05-10 17:01] GopherJ commented on #138
@UnderTreeTech casbin's enforcing speed is already not bad, what we may need to optimize is like `rebuild role links`.

[2020-05-10 19:42] GopherJ commented on #138
Close as solved in #139

[2020-05-10 19:42] #138 closed

[2020-05-11 07:56] GopherJ commented on #118
See also: https://github.com/casbin/casbin/issues/432

[2020-05-11 08:24] GopherJ opened #141 "Explain enforcement by informing matched rules"
See also:

- issue: https://github.com/casbin/casbin/issues/355
- PR: https://github.com/casbin/casbin/pull/425

[2020-05-11 10:09] GopherJ commented on #125
implemented in #142

[2020-05-11 10:12] #125 closed

[2020-05-12 11:42] GopherJ commented on #141
solved in #149

[2020-05-12 11:42] #141 closed

[2020-05-13 19:36] #90 closed

[2020-05-13 19:37] GopherJ commented on #90
Finally I made it works using something like this:

https://github.com/casbin/casbin-rs/blob/master/.github/workflows/release.yml

[2020-05-13 21:45] GopherJ opened #158 "embedded database adapter"

[2020-05-15 19:54] GopherJ commented on #158
move to: https://github.com/casbin/casbin-rs/issues/158

[2020-05-15 19:54] #158 closed

[2020-05-19 15:33] hsluoyz commented on #93
@GopherJ @nodece @hackerchai @PsiACE @kingiw any update on this issue?

[2020-05-19 15:37] hackerchai commented on #93
@hsluoyz I am working on this.

[2020-05-19 15:46] hsluoyz commented on #93
@hackerchai OK. I have created the repo here: https://github.com/casbin-rs/rocket-authz. Looking forward to your progress and PRs! This step means a lot to us and should be highly prioritized.

[2020-05-19 15:49] hsluoyz opened #160 "Add AuthN & AuthZ sections for Rust in our awesome-auth list"
Can anyone add Rust to our list? https://github.com/casbin/awesome-auth

![image](https://user-images.githubusercontent.com/3787410/82348362-55ae9f00-9a2b-11ea-80ad-a8b525cee648.png)

[2020-05-19 15:51] hackerchai commented on #93
@hsluoyz Now the current job in my hand is making real-word-examole using actix casbin middleware. After done that, I will put myself in the rocket middeware.

[2020-05-20 10:00] GopherJ commented on #109
Bench has been improved a log by @schungx in #162, here the latest figures:

[code]

golang version is now 1.5X faster than rust version, we are already close, thanks @schungx

[2020-05-20 14:38] schungx commented on #109
@GopherJ   I can see quite a lot of allocations in the code, in tight loops.  Especially strings, `to_owned`, and new `Vec`'s being passed around and returned.  This is gonna hurt.

When there are lots of allocations of short-lived objects, Go is definitely gonna perform better than Rust because it simply doesn't need to care about deallocating those objects.  If there is enough RAM, it probably d

[2020-05-20 15:01] GopherJ commented on #109
@schungx Hi, yes, there's still many space for improvements, but actually the things `to_owned` and `Vec` will not influence too much the `enforce` speed, and they are used mostly on the part of policy management instead of enforcing.

[2020-05-20 15:05] GopherJ commented on #109
Also in benchmarks we have many `block_on` that's not so good, I believe that influence also the speed. However I'm not able to replace it by a shared async executor due to rust-lang libstd's limitation.

[2020-05-20 15:11] schungx commented on #109
Yes, you're right.  Looks like the only cloning during enforcing is pushing values into scope.

[2020-05-21 13:46] GopherJ commented on #160
why `authn` is relevant?

[2020-05-21 13:48] hsluoyz commented on #160
AuthN is similar area with AuthZ. We want to make this list more useful.

[2020-05-21 13:50] GopherJ commented on #160
See: https://github.com/casbin/awesome-auth/pull/17

[2020-05-22 07:01] hsluoyz commented on #160
Looks good.

[2020-05-22 07:01] #160 closed

[2020-05-23 05:19] schungx commented on #109
I tried removing all the `block_on` by making `private_enforce` non-async (it really doesn't need to be `async` because there is no async code in that function).

The benchmark runs indicate only around 10% speed improvements.  Helps, but that's not it.

I looked into `govaluate` and it uses interfaces heavily, plus reflection for property access.  Even if the benchmarks are not taxing the garbage

[2020-05-23 09:06] GopherJ commented on #109
@schungx  Thanks for reminding me of that. I believe in old versions I have maked them all `async` because I have maked `cached_api` async and `CachedEnforcer`'s enforce method then needs to be async so finally `Enforcer`'s enforce method is also async.

At that moment, I would like to make them `async` because eventually I would like to have a shared redis TTL cache, it's better to make db operat

[2020-05-23 09:14] schungx commented on #109
Well, my opinion is that, it is never too early to make API's `async`, because `async` goes all the way.  You'll regret it later on when you need to cater for some async feature and you need to introduce a breaking change in your public API.

My suggestion is to keep `enforce` async, but introduce an `enforce_sync` to do it sync.  This type of dual API is quite common because, frankly speaking, no

[2020-05-23 09:26] GopherJ commented on #109
@schungx The only part which needs to think about this problem is `enforce`, basically it doesn't need to be async, but because of sharing `CoreApi` with `CachedEnforcer` and `CachedEnforcer` may needs to communicate with `DB` so maybe keep the api async is better.

I have change them back to `sync` because `CachedApi` will be called in by `EventEmitter`'s ` emit method and I didn't succeed to mak

[2020-05-23 09:30] schungx commented on #109
Yeah, that sounds sound.  :-)

I'm still trying out a few optimizations on the Rhai side.  Will open up a PR in a bit.

[2020-05-23 09:33] GopherJ commented on #109
Ok thanks @schungx.

Looking forward to seeing your optimizations:)

[2020-05-23 09:37] GopherJ commented on #109
Also if https://github.com/rust-lang/rust/issues/72078 get solved then `enforce_mut` will not be necessary and `enforce_sync` can be added if necessary

[2020-05-23 10:14] schungx commented on #109
What you want should not be possible.  That's why the Rust standard library is sprinkled with tons of `get`, `get_ref`, `get_mut` variations...

[2020-05-23 10:44] schungx commented on #109
PR opened, but somehow it is including all the commits from my previous PR... no idea what's going on.  But anyhow, the last commit is the right one.

[2020-05-23 22:47] GopherJ commented on #109
sync vs async

[code]

[2020-05-23 22:50] GopherJ commented on #109
tokio will be another thing because tokio's `block_on` is quite heavy

[code]

[2020-05-23 22:54] GopherJ commented on #109
The latest figures:

golang casbin vs casbin-rs

golang
[code]

casbin-rs
[code]

[2020-05-24 05:28] schungx commented on #109
Does it mean that we're finally close to Go speed?  That's a good start...  the next goal is to be faster...

BTW, can you pull from my latest in https://github.com/schungx/rhai

This version implements most of the common operators for standard types as a fast-track.  For `casbin` which relies heavily on operators for standard types, this may be another 10% or so speed improvement.

[2020-05-24 10:37] GopherJ commented on #109
Hi @schungx , it's already close but `go version` is still 1.5 ~ 2x faster. I'll add soon a bench test on role manager to see the problem is on `role manager` or on `evaluation`

[2020-05-24 10:39] GopherJ commented on #109
@schungx  I did a bench using your master, but it's similar

[code]

[2020-05-24 13:47] schungx commented on #109
Hhhhmmm... interesting.  I would expect it to be slightly faster, because it implements a lot of common operators directly.

[2020-05-24 14:48] schungx commented on #109
Well, it improves speed 10% for numerical and logical operators.

The one major thing on the table that I haven't been able to resolve is the need to copy values.  Normally, it is fine for numbers and booleans etc.  For `casbin`, however, almost all of those values are strings.  In Rust (and Rhai), that means always copying entire strings around whenever you do something.

For example, a simple `a

[2020-05-25 12:35] schungx commented on #109
Well, turns out that I'm wrong, again.

It is extremely easy to make all strings immutable in Rhai, and get rid of all cloning/copying.

Can you pull from my latest to test it out?

[2020-05-25 16:18] GopherJ commented on #109
@schungx To compile, you can downgrade all `async-std`'s version to `1.5.0`, but maybe it's better if you can create an issue for `smol OR async-std` say that you have an error to compile so that they can fix

[2020-05-26 01:38] schungx commented on #109
Doesn't work.  Still tries to pull in `wepoll-sys`.  I think it is probably depended by something else...

[2020-05-26 13:18] schungx commented on #109
OK, need to switch the default toolchain to `stable-x86_64-pc-windows-msvc` to compile `wepoll`.

Using `stable-x86_64-pc-windows-gnu` will require installation of `MinGW-w64`.

It is a bummer as the GNU toolchain seems to generate faster code for Windows...

[2020-05-26 14:26] schungx commented on #109
@GopherJ   please check out https://github.com/casbin/casbin-rs/pull/168

It uses the latest version of Rhai which uses immutable strings internally to avoid copying.  I get these results running on my computer:

Before: 0.14.1
After: 0.15.0 (?)

[code]

[2020-05-26 14:59] GopherJ commented on #109
@schungx Yes the CI passed on windows so normally it should work, the numbers look awesome!

[2020-05-27 05:22] schungx commented on #118
What you need is a rules engine in this case, and not a language per se (although the rules may be expressed in a language syntax).   You probably also need to trade off the complexity of maintaining a rules engine vs. keeping to the most common usages but be simple.

The main difference between a rules engine and a language interpreter is that, in a rules engine, you have to topological sort the

[2020-05-27 05:24] schungx commented on #118
If someone would like to design, based on `casbin` needs, what the rules will look like (hopefully they're all similar to Rhai syntax), then I can just code according to that design.

[2020-05-27 10:17] GopherJ commented on #118
@schungx Yeah it can be interested in testing your rule engine module, I have used some rule engines but they are quite limited and lack of powerful expressions.

For this moment, I think we pretty need some methods on array like:

[code]

[2020-05-27 14:15] schungx commented on #118
So if we stick to normal function calls syntax with no wierd symbols, plus assignment statements to define rules, that should be enough?

Normally rules are something like:

[code]

This will be expressed as

[code]

[2020-05-28 06:15] schungx commented on #118
From what I can tell, `Teaclave` has a _solver_ engine (or inference engine), which is one step up from a rules engine.  A solver engine does back-tracking to try different combinations to find a solution.

The problem is that running a full-blown solver for each enforce operation is gotta be very slow, unless a lot of optimizations are done.  However, logic is obviously much simpler to express fo

[2020-06-01 12:21] GopherJ commented on #109
@schungx I see a significant bench improvement on rhai@0.15.0

[code]

bravo!

[2020-06-02 05:59] schungx commented on #109
@GopherJ since you've turned the `casbin-rs` API from sync to async, I have a question for you.

Do you find the async API to be slower, when called in a sync manner (perhaps via `block_on`)?

Do you feel justified in moving the API from sync to async?

[2020-06-02 09:07] GopherJ commented on #109
@schungx async can only be useful for IO operation like: network connection.

casbin-rs has db adapters so I think async is necessary，it helps the situation where many policies changes are necessary

If we call async in sync manner, certainly it'll be slower，even rust has some zero cost abstractions，still at least a Poll is necessary.

[2020-06-02 11:44] schungx commented on #109
Thanks... that's what I thought.  Do you have any benchmark data on sync vs async and how much of a slowdown it is?

I can see from your previous data that `tokio` is terrible for `block_on` but `async_std` seems to be OK here...

[2020-06-02 23:00] GopherJ commented on #109
@schungx Hi, `block_on` is ok for `async-std@1.5.0`, there isn't big overhead (maybe xx ms).

However, `block_on` is terrible for `async-std@1.6.0` which uses `smol` as runtime, as you can see from here:

https://github.com/async-rs/async-std/issues/770

currently `rust` doesn't have an interface to define how an executor should work, otherwise some correct async benchers can be implemented:

[cod

[2020-06-03 02:10] schungx commented on #109
As per the `async-std` thread, can you use `smol::run()` instead of `block_on`?

[2020-06-03 15:11] GopherJ commented on #109
@schungx yes sure

[2020-06-12 07:48] liergou99 opened #170 "casbin cache"
I want to read rules from database on real time, not from the casbin cache,when check the authorities.

[2020-06-12 08:31] GopherJ commented on #170
@liergou99 I'm not sure I've understood

Cache is only used to avoid duplicated enforce call. Cache will be cleared once a change on policies was detected.

[2020-06-13 11:43] GopherJ commented on #170
@liergou99 hi, does this still cause problem for you?

[2020-06-16 07:53] GopherJ commented on #170
close as stale

[2020-06-16 07:53] #170 closed

[2020-06-18 06:36] liergou99 opened #171 "casbin cache"
The problem with caspin caching is as follows:：
       1.If the system is load balanced through multiple servers，It is more convenient to store permission data only through the database，If the cache is used, it is easy to cause data inconsistency among multiple servers
       2.My system has permission tables and does not want to use sqlx-adapter table.

[2020-06-18 13:41] hsluoyz commented on #171
@liergou99 change to English.

[2020-06-18 16:20] GopherJ commented on #171
@liergou99

1. It's a known issue, I have thought about this, to fix this you need to share cache, casbin-rs exports CacheApi, you can implement your own cache using redis
2. now the table is fixed to: `casbin-rules`, you can have a forked version to achieve your needs, or if you have an idea on making it supports other tables, let us know. PR is welcome

[2020-06-18 18:21] GopherJ commented on #171
@liergou99  BTW, we have also this repo if you would like to contribute:

https://github.com/casbin-rs/redis-cache

[2020-06-19 02:23] liergou99 commented on #171
1. I modified the sql-adapter. The modified sql-adapter uses the tables in my system and completes a simple test, but the current modified program is highly coupled with my system.
2. I think it is very useful to cache permission data through redis. I will try to write about redis-cache, but it may take a little longer. On the one hand, I have company work to complete, on the other hand, I need to

[2020-06-22 09:21] GopherJ opened #174 "add `EnforcerBuilder` type?"
I'm thinking adding stuff like:

[code]

the problem it solves is, when users would like to use filtered adapter, we dont need to load policy twice, currently if we use filtered adapter, when we call:

[code]
it calls `load_policy` to load policy the first time, when we call `load_filtered_policy` it load policy the second time

[2020-06-22 09:26] GopherJ commented on #171
@hackerchai could you help solving this issue?

BTW @liergou99 why are you using multiple `CachedEnforcer` instance?

[2020-06-22 09:27] GopherJ commented on #174
The syntax is kind of ugly....

[2020-06-22 16:42] hackerchai commented on #171
Get it

[2020-06-24 06:15] liergou99 commented on #171
Enterprise level projects usually use multiple service nodes to achieve load balancing or dynamic expansion. If each node uses its own memory for data caching, data consistency between nodes cannot be guaranteed.

[2020-06-26 09:13] GopherJ opened #175 "add cache for g function"
https://github.com/jaemk/cached is cool, we can maybe try to use it for `g` function.

See also: https://github.com/casbin/casbin/issues/474

[2020-06-26 09:16] GopherJ commented on #175
We can also implement it on our own using `lazy_static` or `once_cell` to avoid extra acquire of lock.

The purpose is to avoid calculating the same thing twice during one enforce.

[2020-06-26 09:17] GopherJ commented on #175
Another option is to not register `g` function during creation of enforcer

[2020-07-02 12:34] GopherJ opened #177 "setup issue-label-bot"
https://github.com/marketplace/issue-label-bot

[2020-07-02 12:44] #177 closed

[2020-07-02 12:46] GopherJ opened #178 "test issue-label-bot"
it'll be good if casbin-rs can have structured logging supported

[2020-07-02 12:46] #178 closed

[2020-07-02 22:20] GopherJ opened #180 "make a book to demonstrate features"
rhai made an online book which looks really useful. https://schungx.github.io/rhai/print.html, users will be able to print to file for offline usage.

[2020-07-03 00:13] PsiACE commented on #180
`mdbook` is a good choice, and it is very convenient to deploy.

So what kind of content should we provide? Some simple examples or a real-world application.

[2020-07-03 03:03] hsluoyz commented on #180
Why don't use our casbin website docs: https://casbin.org/docs/en/overview ?

[2020-07-03 06:59] GopherJ commented on #180
@hsluoyz casbin.org can be used to show APIs.  A book can be used to show practical rust examples of RBAC (with/without domain)，ABAC，Adapters，Cache，Watcher，Logging etc and also how does it work，we will  have more chances to show things without caring site looking.

[2020-07-03 06:59] GopherJ commented on #180
@PsiACE This is low priority. Let's focus on raft first.

[2020-07-03 08:31] hsluoyz commented on #180
OK.

[2020-07-09 09:05] GopherJ opened #181 "parallel enforcing feature"
see : https://github.com/casbin/casbin/issues/516

[2020-07-14 11:43] GopherJ commented on #80
guys, let's use gitter instead

[2020-07-14 11:46] hsluoyz commented on #80
It has been 3 months and a lot of things have changed.. Well, currently I'm suggesting our own forum: https://forum.casbin.org/ instead of Gitter.

[2020-07-14 11:55] GopherJ commented on #80
@hsluoyz How can I make a badge for forum? and add it to casbin-rs & casbin golang

[2020-07-14 11:57] hsluoyz commented on #80
Good idea! Custom badges can be made here: https://shields.io/

[2020-07-14 12:02] GopherJ commented on #80
@hsluoyz How about this one:

https://img.shields.io/badge/Forum-Join%20chat-%23cde201

[2020-07-14 12:03] GopherJ commented on #80
Join chat is kind of strange because it's not like gitter, it's more for article.

https://img.shields.io/badge/Forum-join-%23cde201

[2020-07-14 12:37] #175 closed

[2020-07-14 12:39] GopherJ commented on #80
You can already find a badge in README.md

[2020-07-14 12:39] #80 closed

[2020-07-14 14:24] hsluoyz commented on #80
I see it. Thanks!

[2020-07-15 19:14] GopherJ opened #184 "allowing the parsing of policy file to deal with commas inside columns"
Ref: https://github.com/casbin/casbin/issues/518

[2020-07-18 06:49] gjvnq opened #186 "Noob question: How do I get this to work?"
I am trying to use casbin but the lack of documentation and examples has made things a bit confusing for me.

I am trying to set the model and the policies from the code itself, instead of loading from a file.

My test is failing because the enforcer is returning ```false``` when I wish it returned ```true```.

[code]

This is my Cargo.toml:
[code]

[2020-07-18 07:15] hsluoyz commented on #186
@GopherJ @xcaptain @hackerchai @PsiACE can anyone take this issue?

[2020-07-18 08:46] GopherJ commented on #186
@gjvnq Hi, we have documentation at https://casbin.org API section.

Your example seems fine, the only problem is  that you used adapter's API, which added policy only in db/file but not in RAM, so enforcer is not aware of the new added policy. Could you change to use:

[code]

Enforcer has many public API, it ensures policy to be added in both memory and db & file

[2020-07-18 09:39] bodymindarts opened #187 "Add [async_trait] to RoleManager"
I would like to store role links dynamically and inject a different concrete RoleManager type to fetch the links from a db (like the Adapter works for policies).

Unfortunately the `RoleManager` trait isn't an `async_trait` so I cannot use `sqlx` to interface with a database. If I make a PR would this be accepted? Are there any plans to add different RoleManager implementations?

[2020-07-18 09:51] bodymindarts commented on #187
I realise now that group definitions are also 'policies' that can be persisted via the adapters

[2020-07-18 09:51] #187 closed

[2020-07-18 21:16] #186 closed

[2020-07-18 21:42] #184 closed

[2020-07-18 21:54] GopherJ opened #189 "cross-domain linking"
Ref: https://github.com/casbin/casbin/issues/493

[2020-07-18 21:59] GopherJ opened #190 "structured logging"
currently we only have a rough log support, it's hard to to plug in third-party services

[2020-07-18 22:01] GopherJ commented on #109
currently casbin-rs has already better performance than casbin-golang, thanks for @schungx for all the support that you've made. It's time to close this issue.

[2020-07-18 22:01] #109 closed

[2020-07-18 23:53] gjvnq commented on #186
@GopherJ, it worked. Thanks!

[2020-07-19 01:40] gjvnq opened #191 "Allow grouping for actions/verbs"
The following policy:

[code]

leads to this error:

[code]

[2020-07-19 06:50] GopherJ commented on #191
@gjvnq hi，g3(r. act == p.act) is not a valid format，could you try to use g3(r. act, p.act)

[2020-07-19 08:54] GopherJ opened #192 "pattern support in role manager"
Ref: https://github.com/casbin/casbin/pull/475

[2020-07-19 08:56] GopherJ opened #193 "clear_policy in adapter and enforcer"

[2020-07-19 10:01] GopherJ commented on #193
It's in release-v2.0.0 branch, need to sync to diesel-adapter & sqlx-adapter

[2020-07-19 10:01] #193 closed

[2020-07-19 10:02] GopherJ commented on #191
Hi, Let us know if it didn't work, I'll close this for this moment

[2020-07-19 10:02] #191 closed

[2020-07-19 10:58] GopherJ opened #194 "auto-loading, auto-saving feature"
https://github.com/casbin/casbin/blob/2ab8eb7c140a19a2687c7b0a14331756242c5741/enforcer_synced.go#L55-L83

[2020-07-19 18:55] bodymindarts opened #195 "Filter should work with dynamic values (&str instead of &'static str)"
The way Filter is currently [defined](https://github.com/casbin/casbin-rs/blob/23af2bf5da713515425eda4fc9af1a094ce765ed/src/adapter/mod.rs#L16-L19)

[code]
makes it impossible to filter dynamically since the values must be known at compile time. Could we change the definition to:

[code]

assuming the code compiles with the new definition would you accept a PR?

[2020-07-20 08:57] GopherJ opened #197 "re-exports rhai & add IEnforcer"

[2020-07-20 09:04] #195 closed

[2020-07-20 09:35] #197 closed

[2020-07-20 18:52] GopherJ opened #199 "support serializable struct to be passed as ABAC parameters"

[2020-07-20 21:01] GopherJ commented on #174
I added `(Cached)Enforcer::new, (Cached)Enforcer::new_raw` which solves the same problem but simpler.

- **(Cached)Enforcer::new**: create a new Enforcer and automatically load policy
- **(Cached)Enforcer::new_raw**: create a new Enforcer but dont load policy, uses can choose to load policy with or without filter

[2020-07-20 21:01] #174 closed

[2020-07-25 03:53] hsluoyz commented on #194
@GopherJ we already have the AutoSave feature (for a not short time): https://casbin.org/docs/en/adapters#autosave. It's an optional feature that an adapter can choose to support it or not. Doesn't Casbin-RS support such mechanism?

The built-in file adapter usually doesn't implement AutoSave, because files are mostly used as static resources and will only be loaded at initial time. A user usually

[2020-07-25 12:16] GopherJ commented on #194
@hsluoyz  auto save here means more `SavePolicy` instead of `AddPolicy/RemovePolicy/RemoveFiltered` etc. It's more for file-adapter like csv.

[2020-07-25 15:13] hsluoyz commented on #194
Like I said, I don't think there are many people that want to save rules into CSV files as a long-term solution. Making efforts into this area would be not very fruitful, unless some important customers request this feature explicitly.

[2020-07-25 17:48] GopherJ commented on #194
@hsluoyz I don't think there will be a great effort needed to implement this type of small thing.

currently casbin binds too tighltly with databases, that means if there is no database, then there is no persistence.

This isn't really good, because some simple use cases, users will not want to add databases.

[2020-07-26 01:48] hsluoyz commented on #192
@hackerchai @PsiACE

[2020-07-26 01:52] hsluoyz commented on #109
@GopherJ @schungx congrats and thanks for all your work! This is very impressing.

BTW, where can we see the benchmark number between Casbin-RS and Casbin Golang?

[2020-07-26 01:53] hsluoyz commented on #190
Good point. @hackerchai @PsiACE can anybody take it?

[2020-07-28 12:08] GopherJ opened #200 "switch from tree to index tree (arena)"
tree has many tradeoffs, especi

- cycle will break function
- many lock/unlock operation is necessary in rust
- makes it hard to do multi-processing

[2020-07-28 12:11] GopherJ commented on #200
Ref: https://docs.rs/indextree/4.2.0/indextree/

[2020-07-28 12:12] GopherJ commented on #200
This is urgent to have, I'll try to do it

[2020-08-01 20:00] GopherJ commented on #190
Filebeats is a good tool to collect syslog output generated by casbin-rs:

[code]

[2020-08-15 20:49] GopherJ commented on #200
To implement this, https://github.com/saschagrunert/indextree/issues/53 is necessary

[2020-08-16 10:17] GopherJ commented on #83
It's now https://github.com/casbin-rs/redis-cache, not published to crates.io yet

[2020-08-16 10:17] #83 closed

[2020-08-16 10:18] GopherJ commented on #171
It's now https://github.com/casbin-rs/redis-cache, but not published to crates.io yet because it only works with `release-v2.0.0` branch

[2020-08-16 10:18] #171 closed

[2020-08-16 10:18] GopherJ commented on #101
Ref: https://github.com/async-rs/async-std/issues/843

[2020-08-16 14:08] GopherJ commented on #190
It's now in `release-v2.0.0` branch, casbin-rs `set_logger` method accepts any `slog::Logger` by default it uses also `slog`

[2020-08-16 14:08] #190 closed

[2020-08-25 19:13] simoin commented on #93
Just need to add Enforcer to Rocket State, and get this in Request Guards.
I've written a demo for this [Rocket_Casbin_Demo](https://github.com/simoin/Rocket_Casbin_Demo)

[2020-08-26 00:48] hsluoyz commented on #93
@simoin can you add a README?

[2020-08-26 01:19] simoin commented on #93
@hsluoyz Done

[2020-08-26 02:03] hsluoyz commented on #93
I'm not an expert on either Rust or Rocket. @GopherJ @hackerchai @PsiACE  Can you give some comments on: https://github.com/simoin/Rocket_Casbin_Demo ?

[2020-08-26 02:38] hackerchai commented on #93
@simoin Thanks for your work. Maybe [Fairing](https://rocket.rs/v0.4/guide/fairings/) is a better method to implement Casbin middleware for Rocket.

[2020-08-26 02:48] simoin commented on #93
@hackerchai  Exactly, you could refer to rocket_contrib::database do

[2020-08-26 03:14] hsluoyz commented on #93
@simoin can you add this middleware to our official site?

[2020-08-26 04:07] simoin commented on #93
@hsluoyz it is just a binary, not a middleware library.

[2020-08-26 04:09] hsluoyz commented on #93
@simoin Can it be regarded as an example project to show how to integrate Casbin-RS into Rocket?

[2020-08-26 06:55] simoin commented on #93
I've rewrite the proj with Fairing.

[2020-08-26 07:49] hsluoyz commented on #93
OK. Can you add this to our official site?

[2020-08-26 09:27] simoin commented on #93
@hsluoyz I've sent a PR to casbin-website.

[2020-08-26 11:28] hsluoyz commented on #93
@simoin thanks! Merged: https://github.com/casbin/casbin-website/pull/122

[2020-08-30 09:58] GopherJ commented on #199
It's now in `serde` branch but there is 15 ~ 20%'s bench regression, so I didn't merge it into `release-v2.0.0`

[2020-08-30 09:58] #199 closed

[2020-08-30 18:03] GopherJ commented on #192
it's now in `serde` branch, will be merged soon

[2020-08-30 18:03] #192 closed

[2020-08-31 15:16] hackerchai commented on #64
actix-web + casbin example with diesel-adapter, using CachedEnforcer
https://github.com/casbin-rs/examples/tree/master/actix-middleware-example

[2020-09-04 17:31] GopherJ opened #205 "setup clog-cli CI"
https://github.com/clog-tool/clog-cli

@PsiACE  would you be interested to take this?

[2020-09-04 18:41] PsiACE commented on #205
I will check it and other possible options during the day.

[2020-09-05 06:33] PsiACE commented on #205
Are there any special needs? For example, update only when released, see casbin-rs changelog in https://github.com/PsiACE/changelog-action-test/blob/master/CHANGELOG.md

If you think this is okay for now, I will create a PR.

[2020-09-05 06:48] PsiACE commented on #205
Note that this is not a clog-cli CI because clog-cli cannot generate correct output. See https://github.com/clog-tool/clog-cli/issues/105 & https://github.com/clog-tool/clog-cli/issues/104.

[2020-09-05 07:37] GopherJ commented on #205
@PsiACE Yes it's ok, thanks

[2020-09-05 12:34] #205 closed

[2020-09-19 18:34] GopherJ commented on #101
with the release of async-std@1.6.4, it's now passing wasm CI check

[2020-11-24 11:29] Guara92 opened #210 "Broken enforce with json string in 2.0"
Upgrading from version 1.1.3 to 2.0.2 I need to adapt this piece of code that works fine on 1.1.3
[code]
to
[code]
this code compile with 2.0.2 but lead to a runtime error
[code]

with simple ABAC authorization
[code]

To make 2.0.2 work I derived also `Hash` on the original serializable struct and used a tuple to call the enforcer
[code]

[2020-11-24 11:37] hsluoyz commented on #210
@GopherJ @hackerchai

[2020-11-27 13:41] GopherJ commented on #210
hi @Guara92 here we have an example for v2

https://github.com/casbin/casbin-rs/blob/master/src/enforcer.rs#L1209-L1274

[2020-12-06 11:02] #210 closed

[2020-12-17 01:03] hsluoyz opened #213 "Support policy.csv comment or YAML file adapter"
See: https://github.com/whamcloud/integrated-manager-for-lustre/pull/2442#discussion_r544421774

We can easily support # as comment grammar in CSV, but the disadvantage is that comment is actually not a part of CSV standard.

Maybe a YAML file adapter would be better. We need to create a new repo for the code, see: https://github.com/casbin-rs/yaml-adapter

Can anyone work on this to fulfill the c

[2020-12-17 01:11] hsluoyz commented on #213
@hackerchai @PsiACE

/cc @GopherJ

[2020-12-18 14:58] Slumber86 opened #214 "CSV loader deletes double quotes"
I have an ABAC with policy rule with  a model like this:

[code]

A policy like this:

[code]

And a request like:

[code]

When I try to load the policy with CSV loader i get this error:

`ErrorVariableNotFound("ACTIVE")`

Futher investigation suggest that csv-loader removes all `"` from policy CSV making casbin mistake strings for variables. Temporary workaround is to map the values to integers,

[2020-12-18 15:16] hsluoyz commented on #214
@PsiACE @hackerchai

/cc @GopherJ

[2020-12-19 00:28] GopherJ commented on #214
@Slumber86 thanks for this important report! it was introduced accidently while fixing: https://github.com/casbin/casbin/issues/518

[2020-12-19 02:42] hsluoyz commented on #214
Can we fix it from the code: https://github.com/casbin/casbin-rs/pull/188/files ?

[2020-12-19 02:44] hsluoyz opened #215 "Build error[E0554]: `#![feature]` may not be used on the stable release channel on latest Rust 1.48.0"
Win 10

[code]

Log:

[code]

[2020-12-19 04:14] hsluoyz commented on #214
@matrixkook can you take this issue?

[2020-12-19 05:09] MATRIXKOO commented on #214
I'm Matrixkook. I'd like to take this.

[2020-12-19 10:22] hsluoyz commented on #215
The solution is to use Rust nightly, see: https://stackoverflow.com/questions/48593858/how-to-execute-cargo-test-using-the-nightly-channel

[2020-12-19 10:22] #215 closed

[2020-12-19 13:31] GopherJ commented on #214
@MATRIXKOO would you mind reviewing #216 I had some local work yesterday but also look forward to your review/idea.

[2020-12-19 13:59] hsluoyz commented on #213
Hi @nlinker @mkpankov

Which way do you prefer?

1. "#" as comment grammar in CSV (like in Python)
2. YAML file adapter

[2020-12-19 16:11] #214 closed

[2020-12-19 17:40] GopherJ opened #219 "support semver version"

[2020-12-19 17:41] GopherJ commented on #219
currently casbin-rs use fixed version of dependencies, it'll be good to use semver syntax to make it more fuzzy so that cargo can select versions thus avoid two version of `tokio`, `async-std` etc...

[2020-12-19 17:43] GopherJ commented on #219
we should also remove lockfile

[2020-12-20 09:10] hsluoyz commented on #92
Made a PR: https://github.com/actix/actix-website/pull/205

[2020-12-20 09:10] #92 closed

[2020-12-21 08:31] nlinker commented on #213
Thank you for asking this, I'd have YAML adapter.
The additional advantages for YAML are:
- the standard escaping syntax, when the resource contains comma or double quote,
- the editors support for the navigations and highlighting.

[2020-12-23 21:55] smhmayboudi opened #221 "not currently running on the Tokio runtime on tonic"
There is an issue with tonic. would you please help me.
[code]
Code:
[code]
auth_model.conf
[code]
auth_policy.csv
[code]
toml.conf
[code]

[2020-12-24 01:48] hsluoyz commented on #221
@hackerchai @PsiACE @GopherJ

[2020-12-24 10:30] GopherJ commented on #221
yes, there isn't an ecosystem for tokio 0.3 yet,  @PsiACE would you minding making a PR to use tokio 0.2? I think we should switch to tokio 1.0 when all the other frameworks have started to use tokio 1.0

[2020-12-24 20:16] smhmayboudi commented on #221
Thanks in advance for your work and contributions, I appreciate it. I am using tokio 0.3.6 and updating to tokio 1.0 to check the compatibilities. I receive some errors from casbin related to Stream. I think moving forward is the best decision.

[2020-12-24 21:14] smhmayboudi commented on #221
I tried and I couldn't use tonic with tokio 1.0. It seems the new version of tonic will come in [the new year](https://discord.com/channels/500028886025895936/628706823104626710/791444980169179176).

[2020-12-24 23:51] #221 closed

[2020-12-24 23:56] GopherJ commented on #221
@smhmayboudi hi, could you try v2.0.5

[2020-12-31 08:50] smhmayboudi opened #225 "Consider cargo audit"
Please consider this issue https://github.com/jonathandturner/rhai/issues/321

[2020-12-31 11:50] schungx commented on #225
`0.19.8` has been unyanked for the time being.

It has a bug that causes errors when using closures (something that casbin doesn't need). That's the reason for the yank.

[2021-01-03 02:35] hsluoyz commented on #225
@GopherJ @hackerchai @PsiACE

[2021-01-15 03:51] hsluoyz commented on #213
@closetool plz take a look at this issue

[2021-01-17 22:19] smhmayboudi commented on #221
@GopherJ sorry for the late response, I change to sqlx.

[2021-01-17 22:25] smhmayboudi opened #226 "tokio 1.0.2 update"
Many thanks for all your efforts. As time passes more projects upgrade to tokio 1. Would you please consider it?

[2021-01-18 05:43] hsluoyz commented on #226
Ping @GopherJ @hackerchai @PsiACE

[2021-01-21 12:04] #213 closed

[2021-01-22 13:14] hsluoyz commented on #213
Hi @nlinker @mkpankov

I think the YAML adapter is basically finished and released to crates.io, can you try it and verify whether it works for you? https://github.com/casbin-rs/yaml-adapter

[2021-01-22 15:06] nlinker commented on #213
Thank you, Yang Luo! Just FYI: [the authorization PR for IML](https://github.com/whamcloud/integrated-manager-for-lustre/pull/2442) was closed because it has been moved to the Whamcloud's internal repository. It is awesome to see, how prompt the developers of casbin-rs are!

[2021-02-01 13:58] hsluoyz commented on #226
@hackerchai @PsiACE

[2021-02-01 14:00] hsluoyz commented on #225
@RobotHuang can you take a look at this issue?

[2021-02-01 14:01] hackerchai commented on #226
@smhmayboudi  @hsluoyz  see #230
Already upgraded

[2021-02-01 14:01] #226 closed

[2021-02-03 10:27] RobotHuang commented on #225
@hsluoyz @smhmayboudi we have updated  to 0.19.10. I think that this issue could be closed.

[2021-02-03 12:22] hsluoyz commented on #225
@smhmayboudi

[2021-02-07 10:20] #225 closed

[2021-03-13 14:12] hackerchai opened #233 "Migrate to Criterion benchmark"
https://github.com/bheisler/criterion.rs
More and more rust projects start to use criterion as the default benchark library for more specific performence statistics

[2021-03-13 14:16] hackerchai opened #234 "Test project on multiple operating systems via matrix"
Projects needed to be implemented:
- https://github.com/casbin-rs/diesel-adapter
- https://github.com/casbin-rs/sqlx-adapter/
- https://github.com/casbin-rs/actix-casbin-auth
- https://github.com/casbin-rs/actix-casbin

[2021-03-15 13:52] bionicles opened #235 "Please add a GBAC example"
Would it be possible to implement Graph-based access control with Casbin?

EX: Pattern-matching on the relationship / traversal from subject to object and /or vice versa?

This could enable a simplified ruleset since we could abstract a lot of rules into a smaller number of traversal patterns...

[2021-03-15 13:57] hsluoyz commented on #235
@bionicles is this what you need? https://casbin.org/docs/en/rbac#use-pattern-matching-in-rbac

Or can you give an example (better in Casbin model & policy format) for what you want to achieve?

[2021-03-15 15:35] bionicles commented on #235
thanks for the link - that looks similar, however, I find the casbin model configuration files too hard to read because they're so terse and have ridiculous syntax, "r" is unclear, "p", "g" -- these symbols mean nothing without reading a bunch of other docs, lots of one letter terms which require mental unpacking. Right now, looking at Casbin docs, I'd way rather implement the rules myself without

[2021-03-15 16:06] hsluoyz commented on #235
@bionicles

I'm OK to add a more human readable layer on top of the Casbin core grammar. Just replace `r` with `request`, `sub` with `subject`, not hard at all. But could you describe your favored tone? What does the best policy language look like in your imagination?

Maybe you want this: https://casbin.org/docs/en/rbac#role-hierarchy

[2021-04-08 00:39] smrpn commented on #233
The github actions for the current benchmark tool ```libtest``` runs only on the nightly toolchain.
The github actions for ```criterion.rs```, https://github.com/boa-dev/criterion-compare-action/tree/move_to_actions runs only on the stable toolchain.
Before migrating to ```criterion```, the previous benchmark tool needs to be removed, because builds are failing while comparing the last bench repor

[2021-04-11 11:08] smrpn commented on #233
https://github.com/casbin/casbin-rs/pull/250 fixes this.

[2021-04-11 13:46] hsluoyz opened #252 "Advice on how to port a grpc server written in golang to rust using tonic"
See: https://www.reddit.com/r/learnrust/comments/monhf7/advice_on_how_to_port_a_grpc_server_written_in/

[2021-04-11 13:47] hsluoyz commented on #252
@hackerchai can you help answer it on Reddit?

[2021-05-16 08:13] hackerchai commented on #93
see https://github.com/casbin-rs/rocket-authz

[2021-05-16 08:13] #93 closed

[2021-05-16 14:18] simoneromano96 opened #262 "Currently unusable with actix-web"
Hi, I've started a new project with casbin-rs, sqlx-adapter and actix-web. Currently the actix-web stable is still on tokio 0.2 which breaks the casbin dependencies.
I'll fork casbin-rs and see if I am able to make it work with actix-rt and not directly tokio, this should bring casbin and sqlx to a compatible state.

[2021-05-16 15:40] hsluoyz commented on #262
@hackerchai

[2021-05-16 16:12] hsluoyz commented on #235
Closed as stale.

[2021-05-16 16:12] #235 closed

[2021-05-17 14:38] hsluoyz opened #263 "Improve Casbin-RS performance"
See the benchmark with another authz lib: https://github.com/DDtKey/actix-web-authz-benchmark

![image](https://user-images.githubusercontent.com/3787410/118507089-7efa2c00-b760-11eb-934b-55c6f64c3ed1.png)

Our performance is far behind. We need to catch up, like adding more optimizations.

[2021-05-22 17:19] simoneromano96 commented on #262
Here's a repository with the deps
https://github.com/simoneromano96/kharon

[2021-05-23 01:47] hsluoyz commented on #262
@hackerchai

[2021-05-23 02:21] hackerchai commented on #262
@simoneromano96 What is is the error?

[2021-05-23 11:52] simoneromano96 commented on #262
"there is no reactor running, must be called from the context of a Tokio 1.x runtime"
I saw that currently sqlx is using actix-rt 2.2.0 that uses tokio 1.6.0.
If I bring sqlx-adapter to the 0.3.0 version it is using casbin 2.0.7 which in turn uses tokio 1.6.0, but sqlx uses tokio 0.2 (which is actually correct).
My repo has the branch `stable-actix` with all the tests I tried.

I think that this i

[2021-05-23 12:01] PsiACE commented on #262
If I were you, I would choose `actix-web 4.0.0-beta.6`

[2021-05-23 13:14] hackerchai commented on #262
@simoneromano96  please use actix 4.0.0 version to support the tokio 1.0 version

[2021-05-25 08:57] simoneromano96 commented on #262
I think we can close this issue, thank you for the help

[2021-05-25 08:57] #262 closed

[2021-05-29 05:08] hsluoyz commented on #219
can you do this? @smrpn

/cc @hackerchai

[2021-06-06 10:29] bionicles commented on #235
Sorry for being rude. I still think simplicity and clarity would help a lot

[2021-06-16 00:20] xiaobeiswift opened #265 "get_all_actions get_all_objects"
<img width="683" alt="image" src="https://user-images.githubusercontent.com/31656300/122138647-b51eee80-ce79-11eb-9954-3de4703b9ebc.png">
in management_api.rs,  fieldIndex parameter  hardcoded 1, 2.
But if the tokens of Policy will have an error if it is greater than 4.
ex:
``` p,admin,domain1,data1,read ```  --- "examples/rbac_with_domains_policy.csv"
the function get_all_actions() return "data1"

[2021-06-17 07:16] hsluoyz commented on #265
@xiaobeiswift this is a known issue. If there are many users complaining about it, we may improve this in future.

[2021-07-16 15:27] hsluoyz opened #268 "Improve the auth capability for Tensorbase"
We can provide more help for: https://github.com/tensorbase/tensorbase/issues/126

[2021-07-16 15:28] hsluoyz commented on #268
@hackerchai @smrpn @PsiACE

[2021-07-16 16:25] hackerchai commented on #268
Will look into it

[2021-07-25 04:34] whjpji commented on #268
Hi all, I'm the contributor of TensorBase, thank you for your interests of supporting TensorBase!

As the description in https://github.com/tensorbase/tensorbase/issues/126, we need two kinds of policies in our project. However, the problem is that casbin seems not to support multiple policies [according to the descriptions on the doc](https://casbin.org/docs/en/syntax-for-models).

In addition, t

[2021-07-30 15:23] hsluoyz commented on #268
@smrpn

/cc @hackerchai

[2021-11-03 22:44] adeelfareed opened #276 "[Question] Using Casbin for data filtering"
Hi, I don't understand how should I use `get_implicit_permissions_for_user` to only access the resources that user has created or is assigned to?

[2021-11-04 01:45] hsluoyz commented on #276
@adeelfareed can you give a detailed example?

[2021-11-04 08:02] adeelfareed commented on #276
@hsluoyz Please take a look, I have added an example.

[2021-12-10 19:57] bk138 commented on #262
FWIW, you can actually use actix-web 3 and and casbin with the following deps for casbin:
[code]
Got this from https://github.com/actix/examples/blob/516faf22dbd0d3a8cb0aa85ca3acd331cb407882/Cargo.lock where https://github.com/actix/examples/tree/master/security/casbin still works (broken in master of actix/examples).

[2021-12-20 09:01] hsluoyz opened #277 "Fix the CI error"
See: https://github.com/casbin/casbin-rs/runs/4577737346?check_suite_focus=true

![image](https://user-images.githubusercontent.com/3787410/146740780-612c96ac-c188-46a9-a6d9-82bd1731528c.png)

[2021-12-24 08:51] bk138 opened #278 "Multithreaded environment: RwLock needed around Enforcer with sqlx-adapter?"
I've got a question about casbin-rs usage: I'm using it with actix-web and the [example states](https://github.com/actix/examples/blob/master/security/casbin/src/main.rs#L40) that the Enforcer should be wrapped in an RwLock. I wonder if this is because of the example using FileAdapter and that the protection by the RwLock can maybe be omitted when using a DB adapter like [sqlx-adapter](https://git

[2021-12-24 09:26] hsluoyz commented on #278
@hackerchai

[2021-12-25 09:33] hackerchai commented on #277
fixing @hsluoyz

[2021-12-29 05:45] hackerchai commented on #278
We use RwLock because actix-web is actually multi-threads when handling concurrent requests. In this way, you can use adapter to work with cash in.

[2021-12-29 07:28] bk138 commented on #278
Yep, the question is more like: is Enforcer thread-safe (maybe only with certain adapters)? https://github.com/casbin/casbin-rs/commit/529554e0a044b20bbbc9607e59a5d053b537b86a kinda hints at that. If it is not, it's maybe a good idea to state that in the docs. Would you accept a PR to the README adding a hint?

[2021-12-29 11:25] hackerchai commented on #278
The enforcer is not thread-safe. PR is always welcomed.

[2021-12-30 13:52] bk138 opened #280 "Question: how to preload policy from file, then use db-backed adapter?"
My use case is that I'd like to define some access rules for roles beforehand but later on my app assigns users to roles, this should be kept in the database. What I'm doing right now is and what works:

* load model from file
* assign db-backed adapter to enforcer
* programmatically setup role policies <- lots of boilerplate code here

What I'd somehow like to do is:
* load model from file into e

[2021-12-31 00:54] hsluoyz commented on #280
@bk138 see: https://casbin.org/docs/en/adapters#migrateconvert-between-different-adapter

[2021-12-31 00:54] #280 closed

[2022-01-02 13:32] #278 closed

[2022-01-02 14:47] #277 closed

[2022-01-03 11:23] bk138 commented on #280
@hsluoyz This does not work for the use case outlined above as it discards the policy loaded from adapter A completely. Here's some of my code:

[code]

Should I file an issue with sqlx-adapter?

[2022-01-03 13:55] hsluoyz commented on #280
@hackerchai @PsiACE

[2022-01-06 17:26] valkum opened #282 "keyMatch2 and keyMatch3 can loop indefinitely"
The loop in keyMatch2 and keyMatch3 can spin forever when encountering a `/{}` or a `/:`. The go implementation does not seem to have this problem.

Instead of loop forever, either this should panic or not match anything.

We can provide a MR when someone decided how this should be fixed.

[2022-01-06 19:25] bk138 commented on #280
Found https://github.com/casbin-rs/examples/blob/master/actix-middleware-example/src/main.rs#L73 - is this the way to achieve a policy preload?

[2022-01-07 02:55] hackerchai commented on #280
yes, you can use  this way in prodcution

[2022-01-07 04:05] hsluoyz commented on #282
@valkum can we use the similar implementation as Go? Will this issue be gone?

[2022-01-07 12:25] bk138 commented on #280
@hackerchai What about adding this to the README?

[2022-01-07 15:43] hsluoyz commented on #280
@bk138 sounds good. Can you make a PR?

[2022-01-08 14:44] bk138 commented on #280
I would, but I have some difficulties comprehending the logic in https://github.com/casbin-rs/examples/blob/master/actix-middleware-example/src/main.rs#L73 - @hackerchai can you maybe elaborate on the logic? In particular, why is the enforcer cloned in https://github.com/casbin-rs/examples/blob/master/actix-middleware-example/src/main.rs#L69 and the policies added to the cloned one instead of "mai

[2022-01-10 13:35] valkum commented on #282
Using a replace_all approach similar to go ends up in a panic, as you end up with regex's like: `^/foo/{}$`. The go regex engine is fine with such a regex string and interprets `{` and `}` as characters instead of an invalid quantifier.

I would imagine this could be abused in a deny rule when `/{}` is wrongly used as an unnamed wildcard and thus does not match in the go implementation. E.g. deny

[2022-01-11 15:11] hsluoyz commented on #282
@PsiACE @hackerchai

[2022-01-12 02:34] PsiACE commented on #282
If using [^/]+ can be consistent with go, then it should be done.

Otherwise, it is best to provide a suitable panic message to tell others how to avoid the problem.

[2022-01-12 12:10] valkum commented on #282
If I am right, the go implementation will result in the following:

| act | regex | matches |
| ----- | ---- | ----- |
| /foo/{bar} | /foo/[^/]+   |  /foo/{} :heavy_check_mark: <br> /foo/baz  :heavy_check_mark:|
| /foo/{} | /foo/{} | /foo/{}  :heavy_check_mark: <br> /foo/baz :negative_squared_cross_mark: |
----------

I would assume,  as the docs do not say otherwise, to get the following behavior

[2022-01-12 12:16] PsiACE commented on #282
ok, i think we can use `[^/]+`

[2022-01-14 03:23] hackerchai commented on #280
@bk138  https://github.com/casbin-rs/examples/blob/master/actix-middleware-example/src/main.rs#L69 Why we use clone_enforcer? Because we have casbin_actor as well as casbin_middleware, and they both use casbin enforcer. In order to make these two component use the sane enforcer, we clone the enforcer first.

[2022-01-14 03:29] hackerchai commented on #280
@bk138 https://github.com/casbin-rs/examples/blob/master/actix-middleware-example/src/main.rs#L73 Here is the logic to import preset casbin rules into the database via casbin_adapter. The rules in csv file explains g2 group declaration, roles and role-group combination, default admin rules.

[2022-01-14 10:26] bk138 commented on #280
Just did so, see #284

[2022-01-15 13:39] #282 closed

[2022-02-02 17:15] valkum commented on #276
We have a

[code]

[2022-02-03 01:39] hsluoyz commented on #276
@PsiACE @hackerchai

[2022-02-24 06:44] jiashiwen opened #288 "How to dynamically add a policy to a lazy static environment"
hi：
I need a static singleton to manage permissions, so I use lazy Static and AsyncOnce to build static variables. I can call enfore for authentication, but dynamic add policy fails
my code

[code]

error
[code]

how to resole this

[2022-02-24 07:04] jiashiwen commented on #288
this is a question

[2022-02-26 02:04] SiddheshKanawade opened #289 "Getting a error while setting up rust-basin-example in local environment"
I was trying to setup the local environment to run [rust-cabin-example](https://github.com/zupzup/rust-casbin-example). I am consistently getting an error saying upgrade to latest version of RUST. I am using 2021 version of rust in project and have tried `cargo fix —edition` but still issue continues. Can someone please help to solve this issue
Following is the screenshot of the issue:

![Screen S

[2022-02-27 16:27] PsiACE commented on #289
Do not use rustc directly. I highly recommend that you use cargo for all the work that needs to be done.

[2022-02-27 16:45] SiddheshKanawade commented on #289
I have tried using `cargo build` and `cargo test` and then I ran the project using `cargo run`. It worked in my case but not sure why `rustc` gave error. Still this solves the issue in my case, thanks for the help.
Also, @PsiACE, do we still have to implement Rust version of Casbin server, since this feature is removed from Casbin-rs project (GSOC '22).

[2022-02-27 16:51] PsiACE commented on #289
hi @SiddheshKanawade , In GSoC 2021, we have a [casbin-grpc](https://github.com/casbin-rs/casbin-grpc/) that you can consider to improve on it.

[2022-02-27 17:28] SiddheshKanawade commented on #289
Sure, I will try to improve on it
Thank you.

[2022-02-28 00:18] schungx commented on #289
https://doc.rust-lang.org/rustc/command-line-arguments.html#--edition-specify-the-edition-to-use

`rustc` defaults to `2015`.

`cargo` just passes the correct edition to `rustc`.  If you invoke `rustc` directly, you need to specify the edition yourself.

[2022-02-28 08:10] jiashiwen commented on #288
use futures_locks::RwLock can resolve this
[code]

[2022-02-28 08:11] #288 closed

[2022-03-01 04:26] SiddheshKanawade commented on #289
@schungx Thank you for your help, now its clear why rustc gave error.

[2022-03-01 10:18] #289 closed

[2022-05-05 21:58] developerworks commented on #101
Maybe this could help:
https://github.com/WasmEdge/WasmEdge/issues/1402
Wasmedge implement an earlier socket ability

[2022-06-16 06:48] greenhandatsjtu opened #294 "Benchmark workflow doesn’t work well"
[https://github.com/casbin/casbin-rs/runs/6409294114#step](https://github.com/casbin/casbin-rs/runs/6409294114#step:5:459)
![image](https://user-images.githubusercontent.com/40566803/174008968-4c164f78-9c95-4864-8865-0ea5a9a2caf0.png)
It fails to post comment of benchmark result to current PR with response status code 403

[2022-06-22 17:37] hsluoyz opened #297 "Support frontend WASM authorization via Casbin-RS"
See: https://github.com/flosse/rust-web-framework-comparison#frontend-frameworks-wasm

We can support `yew` first.

@hackerchai @PsiACE can we make a middleware to support it?

BTW, for the Casbin-RS project development, I have two suggestions:

1. Avoid creating issues and resolving them by ourselves (aka 自问自答, 闭门造车) in future.
2. Try to connect to the world of Rust, learn what Rust developers ne

[2022-06-25 17:21] #294 closed

[2022-09-20 13:22] fospitia opened #302 "[Feature] New DynamoDB adapter for Rust"
Hi.

I made a DynamoDB adapter for Rust, https://github.com/fospitia/dynamodb-adapter, this support Auto-Save.

You can add it to the adapter list, please.

Thank you

[2022-10-27 01:06] prabirshrestha opened #304 "Enforcer shouldn't load full policy when loading a filtered adapter"
Golang version of Enforcer doesn't load full policy if the adapter is filtered. https://github.com/casbin/casbin/blob/63b2757cc60362d974921cb9065809b617d8b527/enforcer.go#L176-L183.

Would be good if `casbin-rs` also follows similar pattern as loading policies from database could be huge.

https://github.com/casbin/casbin-rs/blob/9320add836f2c66204c082e4b4ecf3b4f79fc015/src/enforcer.rs#L265

[2022-11-10 18:56] Akumar201 commented on #215
This error message states, you cannot compile that code with stable Rust. You need to install nightly Rust and then use it to compile the program. You can use the following commands to run the code.

To install nightly version:
`rustup install nightly`

To set nightly version as default:
`rustup default nightly`

At anytime if you want to switch back to stable Rust:
`rustup default stable`

The ni